@import "./src/styles.scss";

#modal {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity visibility;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.83, 0, 0.19, 0.99);
  overflow: auto;

  #modalContent {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 rgba(2, 39, 72, 0.12);
    background-color: #ffffff;
    padding: 60px 0 30px 0;
    z-index: 2;
    position: relative;
    bottom: -200px;
    animation: modalToTop 0.4s cubic-bezier(0.45, 0.09, 0.88, 0.3);
    animation-delay: 0.1s;
    animation-fill-mode: both;
    position: relative;
    margin: 30px 0;
    width: 720px;

    #closeCross {
      display: flex;
      padding: 25px 25px 0 0;
      height: 25px;
      width: 25px;
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
    }
  }

  #shade {
    background-color: $kyrBlack;
    opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &:not([hidden]) {
    opacity: 1;
    visibility: visible;
  }

  &.isDisplayed {
    #modalContent {
      bottom: 0px;
      animation: modalFromBottom 0.4s cubic-bezier(0, 0.98, 0.68, 0.94);
      animation-delay: 0.1s;
      animation-fill-mode: both;
    }
  }

  &:not(.full) {
    display: flex;
    justify-content: center;
    align-items: center;

    #modalContent {
      padding: 60px 0 30px 0;
    }
  }
  &.full {
    #modalContent {
      min-height: calc(100vh - 160px);
      height: calc(100vh - 160px);
      margin: 30px auto;
    }
  }

  &.big {
    #modalContent {
      width: 880px;
      min-height: auto;
      height: calc(100vh - 215px);
    }
    &.noBottomBar {
      #modalContent {
        height: calc(100vh - 160px);
      }
    }
  }
}

@keyframes modalFromBottom {
  0% {
    bottom: -200px;
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
  }
}

@keyframes modalToTop {
  0% {
    bottom: 0px;
    opacity: 1;
    visibility: visible;
  }

  99% {
    bottom: 200px;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    bottom: -200px;
    opacity: 0;
    visibility: hidden;
  }
}
