<div id="modal" [hidden]="!displayed" [class.isDisplayed]="displayed" 
[class.full]="isFull" [class.big]="isBig" [class.noBottomBar]="!hasBottomBar">
  <div id="modalContent">
    <lottie-animation-view id="closeCross" [options]="lottieConfig" (click)="close(false)" (mouseenter)="play()"
      (animCreated)="handleAnimation($event)"></lottie-animation-view>
    <ng-content></ng-content>
  </div>
  <div id="shade" (click)="close(true)"></div>
</div>