<div *ngIf="analysisImpact">
  <div class="impactContainer" [class.bottomBarSpacing]="analysisImpact.isModify">
    <ng-container *ngIf="analysisImpact.isModify">
      <app-form *ngFor="let step of analysisImpact.steps; let i = index" [isFirst]="i===0" [id]="'form'+i"
        [isLast]="i===(analysisImpact.steps.length - 1)" [form]="step" [isModify]="analysisImpact.isModify"
        [analysis]="analysis" (modifyEvent)="modify($event, i, step)" (prevEvent)="prev(i)" (nextEvent)="next(i)">
      </app-form>
    </ng-container>
    <ng-container *ngIf="!analysisImpact.isModify">
      <div class="titleContainer">
        <div *ngIf="analysisImpactReadOnly.title" class="title">{{analysisImpact.title}}</div>
        <app-download-button [processing]="exportingPDF" (click)="exportPDF()"></app-download-button>
      </div>
      <app-form class="form" [form]="analysisImpactReadOnly" [displayType]="1"
        [isModify]="analysisImpactReadOnly.isModify" [analysis]="analysis"
        (modifyEvent)="modify($event, 0, analysisImpact.steps[0])"></app-form>
      <app-form *ngFor="let step of featureSummary; let i = index" class="form" [displayType]="1" [form]="step"
        [isModify]="analysisFeaturesSummary.isModify" [analysis]="analysis" (modifyEvent)="modifyFeature(i)"
        (deleteEvent)="deleteFeature($event)"></app-form>
      <div *ngIf="analysis" class="bottomButtons" [class.oneRight]="isBlocked">
        <app-button *ngIf="!isBlocked" class="btnFunctionnalities" [icon]="'/assets/img/icons/add-white-cross.svg'"
          (clickEvent)="goTo('/feature')" [text]="'Fonctionnalités'" [thin]="true" [after]="false"
          [isBlue]="true">
        </app-button>
        <app-button class="btnProtect" [icon]="'/assets/img/icons/Chevron.svg'" (clickEvent)="goTo('/measure')"
          [text]="'Comment me protège-t-on ?'" [after]="true" [thin]='true' [inverted]="true">
        </app-button>
      </div>
    </ng-container>
  </div>
  <app-bottom-bar *ngIf="analysisImpact.isModify && !isBlocked" [isDisplayed]="true">
    <app-state-bar (clickEventRightButton)="goToRecap()" [rightButtonText]="'Voir la synthèse'"></app-state-bar>
  </app-bottom-bar>

  <div *ngIf="analysis && exportingPDF" id="pdfContainer" class="impactContainer"
    [class.bottomBarSpacing]="analysisImpact.isModify">
    <ng-container *ngIf="!analysisImpact.isModify">
      <div *ngIf="analysisImpactReadOnly.title" class="title">{{analysis.ral_name}}: {{analysisImpact.title}}</div>
      <div class="blockTitle">Mes exigences</div>

      <app-analysis-max-impacts *ngIf="analysis" [guid]="analysis.ral_id" [smallVersion]="true" [noSliders]="true"
        [analysisName]="analysis.ral_name">
      </app-analysis-max-impacts>
      <div *ngIf="analysis && analysis.impacts">
        <div *ngIf="analysis.impacts[0] && analysis.impacts[0].ira_comment" class="impactCommentContainer">
          <div class="impactTitle">Commentaire financier</div>
          <div class="impactText">{{analysis.impacts[0].ira_comment}}</div>
        </div>
        <div *ngIf="analysis.impacts[1] && analysis.impacts[1].ira_comment" class="impactCommentContainer">
          <div class="impactTitle">Commentaire image</div>
          <div class="impactText">{{analysis.impacts[1].ira_comment}}</div>
        </div>
      </div>
      <app-form *ngFor="let step of featureSummary; let i = index" class="form" [displayType]="1" [form]="step"
        [isModify]="analysisFeaturesSummary.isModify" [analysis]="analysis" [hideLottieButtons]="exportingPDF"
        (modifyEvent)="modifyFeature(i)" (deleteEvent)="deleteFeature($event)"></app-form>
    </ng-container>
  </div>
</div>