@import "./src/styles.scss";

.impactContainer {
  display: flex;
  flex-direction: column;
  margin: 60px;

  &.bottomBarSpacing {
    margin: 40px 60px 64px 60px;
    padding-bottom: 40px;
  }
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
    .title {
      font-family: $Graphik-Light, Helvetica;
      font-size: 52px;
      white-space: pre;
    }
  }

  .subtitle {
    font-family: $Graphik-Regular;
    font-size: 12px;
    color: $kyrMediumGrey;
    padding: 20px 0;
  }

  .bottomButtons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    &.oneRight {
      justify-content: flex-end;
    }
  }
}

#pdfContainer {
  position: absolute;
  width: 100%;
  min-width: 1190px;
  top: -1000%;
  .blockTitle {
    padding: 0;
    height: 75px;
    color: $kyrBlack;
    font-size: 32px;
    font-weight: bold;
  }
  .title {
    font-family: $Graphik-Light, Helvetica;
    font-size: 52px;
    margin-bottom: 0;
    height: 85px;
  }

  .form {
    position: relative;
    height: 100%;
  }

  .subtitle {
    font-family: $Graphik-Regular;
    font-size: 12px;
    color: $kyrMediumGrey;
    padding: 20px 0;
  }
  .impactCommentContainer {
    margin: 20px 0;
    width: calc(100% - 50px);
    .impactTitle {
      margin-bottom: 12px;
      color: $kyrBlack;
      font-weight: bold;
    }
    .impactText {
      white-space: pre-wrap;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
