@import "./src/styles.scss";

.toggleContainer {
  position: relative;
  width: 36px;
  height: 22px;
  border-radius: 12px;
  border: solid 1px $kyrMediumGrey;
  background-color: $kyrMediumGrey;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .round {
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  &.active {
    justify-content: flex-end;
    border: solid 1px $kyrOrange;
    background-color: $kyrOrange;

    .round {  
        left: 14px;
    }
  }

  
}
