@import "./src/styles.scss";
.customInput {
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  padding: 16px 20px;
  background-color: $kyrLightGrey;
  border: solid 2px $kyrGrey;
  transition: all 0.2s ease-in-out;
  font-family: $Graphik-Regular;  

  &::placeholder {
    color: $kyrMediumGrey;
    font-style: italic;
  }

  &:focus,
  &.fully {
    outline: none;
    background-color: #fff;
    border: solid 2px rgba(250, 130, 42, 0.6);
  }

  &.noActiveMode{
    background-color: #fff;
  }

  &.hasIcon {
    padding-left: 52px;
  }

  .active {
    border: solid 2px rgba(250, 130, 42, 0.6);
  }
}

textarea {
  width: calc(100% - 40px) !important;
}
