@import "./src/styles.scss";

.measureContainer {
  display: flex;
  flex-direction: column;
  border: solid 1px $kyrGrey;
  width: 203px;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  transition: 0.3s box-shadow ease-in-out, 0.3s border-color ease-in-out;
  .contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    height: 100%;
    .app-check {
      opacity: 0;
      visibility: visible;
      position: absolute;
      left: 13px;
      top: 13px;
      transition: 0.3s opacity ease-in-out, 0.3s visibility ease-in-out;
    }

    .tag {
      font-size: 10px;
      padding: 5px 10px;
      font-weight: bold;
      border-radius: 12px;
      align-self: flex-end;
      position: absolute;
      right: 13px;
      top: 13px;

      &.comeUp {
        color: $kyrSeaBlue;
        background-color: rgba(0, 167, 214, 0.12);
      }

      &.inPlace {
        color: $kyrDarkGreen;
        background-color: $kyrLightGreen;
      }

      &.na {
        color: $kyrDarkGrey;
        background-color: $kyrSemiLightGrey;
      }

      .tooltip {
        text-transform: capitalize;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      .logo {
        margin: 12px 0 18px 0;
      }
      .title {
        font-size: 16px;
        font-weight: bold;
        color: $kyrBlack;
        text-align: center;
        margin-bottom: 8px;
        width: 100%;
      }
      .costContainer {
        display: flex;
        .costSign {
          margin-right: 4px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .bottomBar {
    display: flex;
    border-top: solid 1px $kyrGrey;
    min-height: 45px;
    .dicp {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: solid 1px $kyrGrey;
      flex-grow: 0.25;
      div {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: $kyrSemiLightGrey;
        color: $kyrMediumGrey;
        font-size: 12px;
        font-weight: bold;
        text-align: center;

        span {
          transform: translateY(-50%);
          position: relative;
          top: 50%;
          display: block;
        }
      }
      &.active {
        div {
          width: 32px;
          height: 32px;
          background-color: $kyrDarkGrey;
          color: white;
          font-size: 14px;
        }
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    .contentContainer {
      .app-check {
        opacity: 1;
        visibility: visible;
        &.isBlocked {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    &.isBlocked {
      box-shadow: none;
      cursor: default;
    }
  }

  &.isChecked {
    border-color: $kyrOrange;
    .contentContainer {
      .app-check {
        opacity: 1;
        visibility: visible;
      }
    }
  }

}
