<div *ngIf="measure" class="measureContainer" [class.isChecked]="measure.isChecked" [class.isBlocked]="isBlocked">
  <div class="contentContainer">
    <app-check class="app-check" [checked]="measure.isChecked" [class.isBlocked]="isBlocked"></app-check>
    <div *ngIf="measure.measureState" class="tag" [class.comeUp]="measure.measureState.mst_code === 'INPROGRESS'"
      [class.inPlace]="measure.measureState.mst_code === 'INPLACE'" [class.na]="measure.measureState.mst_code === 'NA'"
      (mouseenter)="displayTooltip = true" (mouseleave)="displayTooltip = false">
      {{measure.measureState.mst_name}}
      <app-tooltip *ngIf="measure.measureState && measure.measureState.mst_code === 'INPROGRESS'" class="tooltip"
        [help_text]="dt | date:'MMMM y'" [direction]="'bottom'" [display]="displayTooltip" [nowrap]="true">
      </app-tooltip>
    </div>
    <div class="content">
      <div class="logo">
        <img *ngIf="measure.measure" src="/assets/img/measures/{{getPath(measure)}}"
          alt="" />
      </div>
      <div *ngIf="measure.measure" class="title">{{getName(measure.measure.mea_name)}}</div>
      <div class="costContainer">
        <div class="costSign" *ngFor="let number of [0,1,2]">
          <img src="/assets/img/icons/euro-{{euroIsActive(number)}}.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="bottomBar">
    <div *ngFor="let dicp of dicpArray; let i = index" class="dicp" [class.active]="measure[dicp.property]">
      <div><span>{{dicp.letter}}</span></div>
    </div>
  </div>