.list-tag {
    padding: 3px 0;
    margin: 0 -4px;

    .tag {
        opacity: 0.6;
        top: 0;
        transition: top ease 0.3s;
        position: relative;

    &:hover {
      opacity: 1;
      top: -3px;
    }
  }
}