@import "./src/styles.scss";

.modalContainer {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  .pageNumberContainer {
    position: absolute;
    border: 1px solid $kyrGrey;
    border-radius: 12px;
    right: 81px;
    top: 26px;
    padding: 5px 8px;
    font-size: 10px;
    font-weight: bold;
    color: $kyrMediumGrey;
  }
  .categories {
    width: 360px;
    height: 32px;
  }
  .title {
    font-size: 32px;
    font-family: $Graphik-Regular;
    font-weight: bold;
    align-items: flex-start;
    display: flex;
    .featureName {
      border-radius: 12px;
      background-color: $kyrSemiLightGrey;
      font-size: 10px;
      color: $kyrDarkGrey;
      padding: 6px 10px;
      margin-left: 15px;
      margin-top: 8px;
      white-space: nowrap;
    }
  }
  .innerContainer {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-right: 10px;
  }
  .simpleContent {
    font-size: 16px;
    line-height: 1.5;
  }
  .subtitleContainer {
    margin-bottom: 24px;
    .subtitle {
      font-family: $Graphik-Regular;
      font-size: 16px;
      font-weight: bold;
      margin: 40px 0 12px 0;
    }
    .description {
      font-family: $Graphik-Regular;
      font-size: 12px;
      color: $kyrMediumGrey;
    }
  }
  .sliderContainer {
    margin-left: 20px;
    .index {
      display: flex;
      justify-content: flex-end;
      width: 360px;
      align-self: flex-end;
      margin-top: 17px;

      > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        div {
          font-weight: bold;
          font-size: 12px;
          color: $kyrMediumGrey;
          width: 12px;

          .indexText {
            display: inline-block;
            position: relative;
            transform: translateX(-50%);
            left: 50%;
            .title {
              display: flex;
              justify-content: center;
              margin-bottom: 3px;
              .euros {
                height: 14px;
              }
              .zero {
                height: 14px;
              }
            }
            .subtitle {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .index {
    display: flex;
  }
  .choicesExigencesContainer {
    display: flex;
  }
  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .rightButtonsContainer {
      display: flex;
      justify-content: flex-end;

      &.modifyMode {
        width: 100%;
        justify-content: space-between;

        &.singleMeasure {
          justify-content: flex-end;
        }
      }
      
      .buttonPrevious {
        margin-right: 12px;
      }
    }
  }

  // Design for scrollBar, does not work, on:
  // - Edge
  // - IE
  // - Mozilla
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #f5f7f8;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $kyrGrey;
    border-radius: 6px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $kyrGrey;
  }
}
