<div *ngIf="measures" class="modalContainer">
  <div *ngIf="measures.length !== 1" class="pageNumberContainer">
    {{indexMeasure + 1}} / {{measures.length}}
  </div>
  <div class="title">
    <div>
        {{currentMeasure.measure.mea_name}}
    </div>
    <div class="featureName">
      {{featureName}}
    </div>
  </div>
  <div class="innerContainer" id="innerContent">
    <div class="subtitleContainer">
      <div class="subtitle">
        Categorie :
      </div>
      <div class="description">
      </div>
    </div>
    <select *ngIf="currentMeasure.measure.mea_isCustom" class="categories" [compareWith]="byId" [(ngModel)]="currentMeasure.measure.measureCategory">
      <option [ngValue]="null">Choisissez une catégorie : </option>
      <option *ngFor="let category of measuresCategories; let i = index" [ngValue]="category">{{category.mca_name}}
      </option>
    </select>
    <div *ngIf="!currentMeasure.measure.mea_isCustom" class="simpleContent">
      {{currentMeasure.measure.measureCategory.mca_name}}
    </div>
    <div class="subtitleContainer">
      <div class="subtitle">
        Description :
      </div>
      <div *ngIf="currentMeasure.measure.mea_isCustom" class="description">
        Indiquez en quelques mots en quoi consiste cette mesure
      </div>
    </div>
    <app-input *ngIf="currentMeasure.measure.mea_isCustom" id="app-input" [type]="'text'" [value]="currentMeasure.measure.mea_description" [verticalPadding]="14"
      [hasNoActiveMode]="true" [placeholder]="'Saisissez votre texte…'" [fontSize]="14" [rows]="5" [width]="836"
      [disabled]="" [isArea]="true"
      (changeEvent)="currentMeasure.measure.mea_description = $event">
    </app-input>
    <div *ngIf="!currentMeasure.measure.mea_isCustom" class="simpleContent" [innerHTML]="currentMeasure.measure.mea_description">
    </div>
    <div class="subtitleContainer">
      <div class="subtitle">
        Exigences :
      </div>
      <div class="description">
        Sélectionnez les exigences que doit couvrir cette mesure (plusieurs choix possibles)
      </div>
    </div>
    <div class="choicesExigencesContainer">
      <app-tile *ngFor="let choice of choicesExigences" [thin]="true" [choice]="choice" [radioButton]="false"
        [disabled]="false" (selectEvent)="selectChoiceExigences($event, choice)" [fullBackground]="true">
      </app-tile>
    </div>
    <div class="subtitleContainer">
      <div class="subtitle">
        Coût :
      </div>
      <div class="description">
      </div>
    </div>
    <div class="sliderContainer">
      <app-slider [readMode]="false" [setStartingValue]="currentMeasure.ram_cost" [size]="360" [keys]="keysSlider"
        (changeBulletValue)="changeCostValue($event)"></app-slider>
      <div class="index">
        <div>
          <div *ngFor="let key of keysSlider; let i = index">
            <span class="indexText">
              <span class="title">
                <img class="euros" *ngFor="let x of ' '.repeat(key.title).split('')"
                  src="/assets/img/icons/euro-active.svg" alt="" />
                <div class="zero" *ngIf="key.title === 0">
                  0
                </div>
              </span>
              <span class="subtitle">
                {{key.subtitle}}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="subtitleContainer">
      <div class="subtitle">
        Etat :
      </div>
      <div class="description">
      </div>
    </div>
    <div>
      <app-date-qcm [choices]="choicesDate" (selectEvent)="selectChoiceDate($event)"></app-date-qcm>
    </div>
  </div>
  <div class="buttonsContainer">
    <app-delete-button *ngIf="!modifyMode" (clickEvent)="deleteMeasure()" withText="true" [height]="40" [width]="123"
      [disableOnClick]="false">
    </app-delete-button>
    <div class="rightButtonsContainer" [class.modifyMode]="modifyMode" [class.singleMeasure]="measures.length === 1">
      <app-button class="buttonPrevious" *ngIf="measures.length !== 1" (clickEvent)="previous()" [text]="'Précédent'"
        [midSize]="true" [after]="true" [isBlue]="true" [disabled]="isFirstMeasure()">
      </app-button>
      <app-button *ngIf="measures.length !== 1" (clickEvent)="next()" [text]="'Suivant'" [midSize]="true" [after]="true"
        [isBlue]="true" [inverted]="true" [disabled]="isLastMeasure()">
      </app-button>
      <app-button *ngIf="measures.length === 1" (clickEvent)="createOrModifyMeasures()" [text]="'Enregistrer'" [midSize]="true"
        [after]="true" [isBlue]="true">
      </app-button>
    </div>
  </div>
  <app-bottom-bar [isFull]="true" [isDisplayed]="measures.length > 1">
    <app-state-bar (clickEventRightButton)="createOrModifyMeasures()" [centerElements]="isLastMeasure()" [rightButtonText]="'Enregistrer tout'" [leftText]="getLeftText()" [diplaySaveText]="false"></app-state-bar>
  </app-bottom-bar>
</div>