<app-modal id="modalOnboardingImpact" [displayed]="isDisplayed" (closeEvent)="close()">
  <div class="modalContainer">
    <div class="title">
      Ce que je veux protéger
    </div>
    <div class="subtitle">
      Déterminez les impacts financier et d’image qui pourraient affecter {{getAnalysisName()}}.
    </div>
    <lottie-animation-view class="onboardingImpact" [width]="360" [height]="195" [options]="lottieOnboardingImpact"
      (animCreated)="handleAnimation($event)" id="lottieOnboardingImpact">
    </lottie-animation-view>
    <div class="buttonsContainer">
      <app-button class="button" [text]="'Mon histoire'" (click)="backToDescription()" [icon]="'/assets/img/icons/Chevron-white-left.svg'" [after]="false">
      </app-button>
      <app-button class="button" [text]="'Commencer'" [inverted]="true" (click)="close()" [icon]="'/assets/img/icons/Chevron.svg'" [after]="true">
      </app-button>
    </div>
    <div class="choiceContainer">
      <app-check class="radioButton" [radioButton]="true" [checked]="isChecked" (click)="check()"></app-check>
      <div class="checkText">
        Ne pas montrer cet écran la prochaine fois
      </div>
    </div>
  </div>
</app-modal>