<div *ngIf="!isIE && !buttonWithText" class="addButton" (mouseenter)="playHoverIn()" (mouseleave)="playHoverOut()"
  (click)="playClick()">
  <lottie-animation-view [hidden]="position !== 1" class="addButton" [width]="width" [height]="height"
    [options]="lottieConfigHoverIn" (animCreated)="handleAnimationHoverIn($event)" id="lottieCreateAnimationIn">
  </lottie-animation-view>
  <lottie-animation-view [hidden]="position !== 2" class="addButton" [width]="width" [height]="height"
    [options]="lottieConfigHoverOut" (animCreated)="handleAnimationHoverOut($event)" id="lottieCreateAnimationOut">
  </lottie-animation-view>
  <lottie-animation-view [hidden]="position !== 3" class="addButton" [width]="width" [height]="height"
    [options]="lottieConfigClick" (animCreated)="handleAnimationClick($event)" id="lottieCreateAnimation">
  </lottie-animation-view>
</div>

<div *ngIf="isIE && !buttonWithText" class="addButtonContainer" [class.isSmall]="isSmall" [class.clicked]="clicked" (click)="clickedIE()">
  <div class="plusContainer">
    <div class="bar left"></div>
    <div class="bar right"></div>
  </div>
</div>

<div *ngIf="buttonWithText" class="addButton" [class.disabled]="disabled" (mouseenter)="playHoverIn()"  (mouseleave)="playHoverOut()"  (click)="playClick()">
  <lottie-animation-view [hidden]="position !== 1" class="addButton" [width]="132" [height]="60"
    [options]="lottieConfigTextHover" (animCreated)="handleAnimationHoverIn($event)" id="lottieCreateAnimationIn">
  </lottie-animation-view>
  <lottie-animation-view [hidden]="position !== 2" class="addButton" [width]="132" [height]="60"
  [options]="lottieConfigTextHoverOut" (animCreated)="handleAnimationHoverOut($event)" id="lottieCreateAnimationOut">
</lottie-animation-view>
  <lottie-animation-view [hidden]="position !== 3" class="addButton" [width]="132" [height]="60"
    [options]="lottieConfigTextClick" (animCreated)="handleAnimationClick($event)" id="lottieCreateAnimation">
  </lottie-animation-view>
</div>