@import "./src/styles.scss";

.addButton {
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
  }
}

.addButtonContainer {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    border: 0px solid white;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translateX(15px) translateY(15px);
    z-index: 1;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .plusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid rgb(1, 147, 189);
    z-index: 1;
    transition: all 0.3s ease-in-out, z-index 0.1s ease-in-out 0.5s;

    .bar {
      position: absolute;
      background-color: rgb(1, 147, 189);
      width: 2px;
      height: 16px;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out;

      &.left {
        transform: translateX(16px) translateY(9px);
      }

      &.right {
        transform: translateX(16px) translateY(9px) rotate(90deg);
      }
    }
  }

  &:hover {
    .plusContainer {
      background-color: rgb(1, 147, 189);
      .bar {
        background-color: #fff;
        &.left {
          transform: translateX(17px) translateY(9px) rotate(90deg);
        }

        &.right {
          transform: translateX(17px) translateY(9px) rotate(180deg);
        }
      }
    }
  }

  &.clicked {
    &:after {
      width: 40px;
      height: 40px;
      border-width: 4px;
      transform: translateX(-5px) translateY(-5px);
    }

    .plusContainer {
      z-index: 2;
      background-color: #fff;
      transition-delay: 0.2s;
      .bar {
        position: absolute;
        background-color: rgb(1, 147, 189);
        transition: background-color 0.3s ease-in-out 0.2s, transform 0.3s ease-in-out;

        &.left {
          animation: clickBarLeft 0.5s ease-in-out;
          animation-fill-mode: both;
        }

        &.right {
          animation: clickBarRight 0.5s ease-in-out;
          animation-fill-mode: both;
        }
      }
    }
  }

  &.isSmall {
    width: 32px;
    height: 32px;
    .plusContainer {
      .bar {
        height: 16px;
        &.left {
          transform: translateX(13px) translateY(7px);
        }
  
        &.right {
          transform: translateX(13px) translateY(7px) rotate(90deg);
        }
      }
    }

    &:after { 
      transform: translateX(15px) translateY(15px);
    }
    &:hover {
      .plusContainer {
        .bar {
          &.left {
            transform: translateX(13px) translateY(7px) rotate(90deg);
          }
  
          &.right {
            transform: translateX(13px) translateY(7px) rotate(180deg);
          }
        }
      }
    }
  }
}

@keyframes clickBarLeft {
  0% {
    transform: translateX(16px) translateY(9px) rotate(90deg) scale(1.2);
  }

  30% {
    transform: translateX(16px) translateY(9px) rotate(45deg) scale(1.2);
  }

  100% {
    transform: translateX(16px) translateY(9px) rotate(180deg) scale(1);
  }
}

@keyframes clickBarRight {
  0% {
    transform: translateX(16px) translateY(9px) rotate(180deg) scale(1.2);
  }

  30% {
    transform: translateX(16px) translateY(9px) rotate(135deg) scale(1.2);
  }

  100% {
    transform: translateX(16px) translateY(9px) rotate(270deg) scale(1);
  }
}
