<div class="errorContainer">
    <app-page-not-found *ngIf="errorCode === '404'"></app-page-not-found>
    <app-default-error *ngIf="errorCode != '404' && errorCode != '401'"></app-default-error>
</div>