@import "./src/styles.scss";

.notFoundContainer {
    text-align: center;
    
    .errorContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
              
        .errorText {
            font-family: $Graphik-Regular;
            font-weight: bold;
            color: $kyrBlack;
            font-size: 32px;
            margin : 16px;
        }

        .errorExplanation {
            color: $kyrBlack;
            font-size: 16px;
            margin : 16px;
        }

        #app-button {
            margin : 16px;
        }
    }
}
