<div class="notFoundContainer">
  <div class="errorContainer">
    <lottie-animation-view [options]="lottieConfig" (animCreated)="handleAnimation($event)"
      id="lottiePageNotFoundAnimation" [width]="545" [height]="295"></lottie-animation-view>
    <div class="errorText">
      Oups ! <br />
    </div>
    <div class="errorExplanation">La page que vous recherchez n’existe pas.</div>
    <app-button id="app-button" [text]="'Retour à l\'accueil'" [inverted]="true" [isBlue]="false" (clickEvent)="backToHome()">
    </app-button>
  </div>
</div>