  <div class="stateBar" [class.centerElements]="centerElements">
  <div class="rightBlock">
    <div *ngIf="diplaySaveText" class="saveText">
      <div class="container">
        <img class="icon" *ngIf="!isSaving" src="/assets/img/icons/Check-grey.svg" alt="" />

        <div class="text">{{getSavingText()}}</div>
      </div>
    </div>
    <app-button *ngIf="rightButtonText" (clickEvent)="clickRightButton()" [text]="rightButtonText" [inverted]="true"
      [isBlue]="true" [disabled]="rightButtondisabled" [midSize]="true">
    </app-button>
  </div>
  <div class="leftBlock">
    <app-button *ngIf="leftButtonText" (clickEvent)="clickLeftButton()" [text]="leftButtonText" [after]="false"
      [isBlue]="true" [disabled]="leftButtondisabled" [icon]="'/assets/img/icons/add-white-cross.svg'" [thin]="true">
    </app-button>
    <div class="leftText" [class.noMargin]="centerElements">
      {{leftText}}
    </div>
  </div>
</div>
