@import "./src/styles.scss";

.stateBar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: auto;

  transition: width 0.5s $courbeAnimation;


  &.centerElements {
    display: flex;
    margin: auto;
    width: 883px;
  }
  .rightBlock {
    display: flex;
    align-items: center;

    .saveText {
      .container {
        display: flex;
        align-items: center;
        .icon {
          height: 24px;
          width: 24px;
        }
        .text {
          font-size: 12px;
          font-weight: bold;
          color: $kyrMediumGrey;
          margin-right: 24px;
        }
      }
    }
  }

  .leftBlock {
    .leftText {
      margin-left: 32px;
      font-family: $Graphik-Regular;
      font-size: 16px;
      font-weight: bold;
      color: $kyrBlack;
      transition: margin-left 0.5s $courbeAnimation;

      &.noMargin {
        margin-left: 2px;
      }
    }
  }
}
