<div class="tagContainer" (mouseenter)="triggerHelp()" (mouseleave)="triggerHelp()">
  <img class="remove-tag" src="/assets/img/icons/darkgrey-close-popin.svg" (click)="remove()" alt=""/>
  <div class="label">{{getLabel()}}</div>
  <app-tooltip class="tooltip" [help_text]="getTooltip()" [direction]="'bottom'" [display]="displayTooltip">
  </app-tooltip>
</div>