@import "./src/styles.scss";

.tagContainer {
  border-radius: 16px;
  border: 1px solid $kyrDarkGrey;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
  flex-direction: row-reverse;
  margin: 4px 4px;

  .label {
    font-size: 12px;
    color: $kyrDarkGrey;
    padding: 6px 0px 6px 13px;
  }

  .remove-tag {
    height: 8px;
    width: 8px;
    padding: 8px 13px 8px 8px;
    cursor: pointer;
  }

  .tooltip {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
  }
}
