<div class="tooltipContainer" [class.appears]="display"
    [class.tooltipBottom]="direction === 'bottom'" 
    [class.tooltipTop]="direction === 'top'" 
    [class.tooltipLeft]="direction === 'left'" 
    [class.tooltipRight]="direction === 'right'">
    <div class="tooltipText" [style.width.px]="width" [class.nowrap]='nowrap'>{{help_text}}</div>
  </div>
