@import "./src/styles.scss";

$custom_cubic-bezier: cubic-bezier(0, 0.44, 0.18, 0.99);
.tooltipContainer {
  color: $kyrMediumGrey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: $kyrBlack;
  font-family: $Graphik-Regular;
  font-size: 12px;
  padding: 12px 21px;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  visibility: hidden;
  border-radius: 5px;
  margin-top: 8px;
  opacity: 0;
  transform: scale(0) translateX(-50%);
  transform-origin: top left;
  transition: all 250ms ease-in-out;
  
  &.appears {
    visibility: visible;
    transform: scale(1) translateX(-50%);
    opacity: 1;
  }

  &:after,
  &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 8px;
  }

  &.tooltipBottom {
    &:after,
    &:before {
      bottom: 100%;
      left: 50%;
    }
    &:after {
      border-bottom-color: $kyrBlack;
      margin-left: -8px;
    }
    &:before {
      margin-left: -8px;
    }
  }

  &.tooltipLeft {
    &:after,
    &:before {
      right: 100%;
      top: 50%;
    }
    &:after {
      border-right-color: $kyrBlack;
      margin-top: -8px;
    }
    &:before {
      margin-top: -8px;
    }
  }

  &.tooltipRight {
    &:after,
    &:before {
      left: 100%;
      top: 50%;
    }
    &:after {
      border-left-color: $kyrBlack;
      margin-top: -8px;
    }
    &:before {
      margin-top: -8px;
    }
  }

  &.tooltipTop {
    margin-bottom: 8px;
    margin-top: 0;
    top: -8px;
    transform: scale(0) translateX(-50%) translateY(-100%);

    &.appears {
      transform: scale(1) translateX(-50%) translateY(-100%);
    }
    
    &:after,
    &:before {
      top: 100%;
      left: 50%;
    }
    &:after {
      border-top-color: $kyrBlack;
      margin-left: -8px;
    }
    &:before {
      margin-left: -8px;
    }
  }
  .tooltipText {
    text-align: center;
    animation: tooltipTextAnim 400ms $custom_cubic-bezier, tooltipOpacityAnim 800ms $custom_cubic-bezier;

    &.nowrap {
      white-space: nowrap;
    }
  }
}

@keyframes tooltipOpacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tooltipTextAnim {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

