@import "./src/styles.scss";

.titleContainer {
  display: flex;
  .title {
    font-size: 20px;
    font-weight: bold;
    color: $kyrBlack;
    margin-bottom: 24px;
  }
  .tagMainAsset {
    width: 92px;
    height: 20px;
    border-radius: 12px;
    background-color: $kyrSemiLightGrey;

    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
    margin-top: 1px;
    .text {
      color: $kyrDarkGrey;
      font-size: 10px;
      margin-top: 2px;
    }
  }
}
.measuresListContainer {
  display: flex;
  flex-wrap: wrap;
  .addMeasureBlock {
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;

  }
  .measure {
    margin-right: 20px;
    margin-bottom: 20px;
    height: 216px;
    &:last-child {
      margin-right: 0;
    }
  }
}
