<div class="titleContainer">
  <div *ngIf="title" class="title">{{formatTitle(title)}}</div>
  <div *ngIf="mainAsset" class="tagMainAsset">
    <div class="text">Bien principal</div>
  </div>
</div>
<div class="measuresListContainer">

  <div *ngIf="!isBlocked" class="addMeasureBlock" (mouseenter)="playHoverIn()" (mouseleave)="playHoverOut()" (click)="addMeasure()">
    <lottie-animation-view [hidden]="position !== 1" class="addButton" [width]="205" [height]="216"
      [options]="lottieConfigHoverIn" (animCreated)="handleAnimationHoverIn($event)" id="lottieCreateAnimationIn">
    </lottie-animation-view>
    <lottie-animation-view [hidden]="position !== 3" class="addButton" [width]="205" [height]="216"
      [options]="lottieConfigClick" (animCreated)="handleAnimationClick($event)" id="lottieCreateAnimation">
    </lottie-animation-view>
    <lottie-animation-view [hidden]="position !== 2" class="addButton" [width]="205" [height]="216"
      [options]="lottieConfigHoverOut" (animCreated)="handleAnimationHoverOut($event)" id="lottieCreateAnimationOut">
    </lottie-animation-view>
  </div>

  <app-measure *ngFor="let measure of measures" [measure]="measure" (click)="check($event, measure)" class="measure" [isBlocked]="isBlocked">
  </app-measure>
</div>