<div class="analysisResidualRiskContainer"
  [class.bottomBar]="analysisRiskResidual.isModify && (!isOwner || (isOwner && analysis.residualRisk))">
  <div *ngIf="analysis && isOwner && !analysis.residualRisk" class="noRR">
    Les risques résiduels doivent être indiqués pour finaliser votre analyse de risques.
    <br>Si vous avez un doute, contacter votre référent sécurité.
  </div>

  <div *ngIf="analysis && (!isOwner || (isOwner && analysis.residualRisk))">
    <div class="titleContainer">
      <div class="title">{{analysisRiskResidual.title}}</div>
      <app-download-button *ngIf="analysisRiskResidual && !analysisRiskResidual.isModify" [processing]="exportingPDF"
        (click)="exportPDF()"></app-download-button>
    </div>

    <app-white-container class="commentContainer" [isActive]="analysisRiskResidual.isModify"
      [isModify]="analysisRiskResidual.isModify" [displayBlock]="true" id="rrContainer"
      [isDisplaySquare]="!analysisRiskResidual.isModify || isOwner">
      <div class="headerContainer">
        <div class="titleTextField">Risques résiduels</div>
        <app-modify-button *ngIf="!analysis.ral_isBlocked && !analysisRiskResidual.isModify && !isOwner"
          (clickEvent)="changeMode(true, 'rrContainer')">
        </app-modify-button>
      </div>
      <div *ngIf="analysisRiskResidual.isModify && !isOwner" class="displayModify">
        <div class="subTitleTextField">
          Listez les risques résiduels de l'analyse de risque
        </div>
        <app-input class="inputTextField" id="textarea-decisionContainer" [type]="'text'" [value]="rrText"
          [verticalPadding]="14" [hasNoActiveMode]="true" [placeholder]="'Saisissez votre texte…'" [fontSize]="14"
          [rows]="5" [isArea]="true" (changeTextAreaEvent)="onKeyResidualRisk($event)">
        </app-input>
        <app-button class="validateButton" (clickEvent)="updateRiskAnalysis()" [text]="'Valider'" [inverted]="true"
          [isBlue]="true" [disabled]="isResidualRiskButtonDisable()">
        </app-button>
      </div>

      <div *ngIf="!analysisRiskResidual.isModify || isOwner">
        <div *ngIf="analysis.residualRisk" class="dateAndUser">
          <div *ngIf="rrUserName" class="user">{{rrUserName}}</div>
          <div class="date">• {{analysis.residualRisk.rri_date | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="simpleContent" [innerHTML]="rrText"></div>
      </div>
    </app-white-container>

    <app-white-container *ngIf="analysis.residualRisk" class="commentContainer" id="opinionContainer"
      [isActive]="analysisRiskResidual.isModify" [isModify]="analysisRiskResidual.isModify" [displayBlock]="true"
      [isDisplaySquare]="!analysisRiskResidual.isModify || isOwner">
      <div class="headerContainer" [class.modifyMode]="!analysisRiskResidual.isModify">
        <div class="titleTextField">Autre avis</div>
        <app-modify-button *ngIf="!analysis.ral_isBlocked && !analysisRiskResidual.isModify && !isOwner"
          (clickEvent)="changeMode(true, 'opinionContainer')">
        </app-modify-button>
      </div>
      <div *ngIf="analysisRiskResidual.isModify && !isOwner" class="displayModify">
        <div class="subTitleTextField">
          Toute personne souhaitant apporter des détails supplémentaires peut s'exprimer ici
        </div>
        <app-input class="inputTextField" [type]="'text'" [value]="opinionText" [verticalPadding]="14"
          [hasNoActiveMode]="true" [placeholder]="'Saisissez votre texte…'" [fontSize]="14" [rows]="5" [isArea]="true"
          (changeTextAreaEvent)="onKeyOpinion($event)">
        </app-input>
        <app-button class="validateButton" (clickEvent)="updateOpinion()" [text]="'Valider'" [inverted]="true"
          [isBlue]="true" [disabled]="isOpinionButtonDisable()">
        </app-button>
      </div>

      <div *ngIf="!analysisRiskResidual.isModify || isOwner">
        <div *ngIf="analysis.opinion" class="dateAndUser">
          <div *ngIf="opinionUserName" class="user">{{opinionUserName}}</div>
          <div class="date">• {{analysis.opinion.opi_date | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="simpleContent" [innerHTML]="getOpinionText()"></div>
      </div>
    </app-white-container>

    <app-white-container *ngIf="isOwner || (!isOwner && !analysisRiskResidual.isModify)" class="commentContainer"
      id="decisionContainer" [isActive]="analysisRiskResidual.isModify" [isModify]="analysisRiskResidual.isModify"
      [displayBlock]="true">
      <div class="headerContainer" [class.modifyMode]="!analysisRiskResidual.isModify">
        <div class="titleTextField">Décision métier</div>
        <app-modify-button
          *ngIf="!analysis.ral_isBlocked && isOwner && !analysisRiskResidual.isModify && analysis.decision 
              && !analysis.decision.dec_isAccepted"
          (clickEvent)="changeMode(true, 'decisionContainer')">
        </app-modify-button>
      </div>
      <div *ngIf="analysisRiskResidual.isModify && isOwner && analysis.residualRisk" class="displayModify">
        <div class="subTitleTextField">
          À la lecture des éléments qui sont en votre possession, vous pouvez accepter ou refuser les risques résiduels
          :
        </div>
        <div class="choicesDecisionContainer">
          <app-tile [thin]="true" [choice]="choicesValidation[0]" [radioButton]="false" [disabled]="false"
            (selectEvent)="selectDecision(true, choicesValidation[0])" [fullBackground]="true" [isGreen]="true">
          </app-tile>
          <app-tile [thin]="true" [choice]="choicesValidation[1]" [radioButton]="false" [disabled]="false"
            (selectEvent)="selectDecision(false, choicesValidation[1])" [fullBackground]="true" [isRed]="true">
          </app-tile>
        </div>
        <div class="subTitleTextField">
          Avez-vous d’autres précisions à apporter sur votre décision ?
        </div>
        <app-input class="inputTextField" id="textarea-decisionContainer" [type]="'text'" [value]="decisionText"
          [verticalPadding]="14" [hasNoActiveMode]="true" [placeholder]="'Saisissez votre texte…'" [fontSize]="14"
          [rows]="5" [isArea]="true" (changeTextAreaEvent)="onKeyDecision($event)">
        </app-input>
        <app-button class="validateButton" (clickEvent)="openModalValidateResidualRisk()" [text]="'Valider'" [inverted]="true"
          [isBlue]="true" [disabled]="isDecisionButtonDisable()">
        </app-button>
      </div>

      <div *ngIf="!analysisRiskResidual.isModify">
        <div *ngIf="analysis.decision" class="dateAndUser">
          <div *ngIf="decisionUserName" class="user">{{decisionUserName}}</div>
          <div class="date">• {{analysis.decision.dec_date | date:'dd/MM/yyyy'}}</div>
        </div>
        <div *ngIf="isValidate !== null" class="decision">
          <div class="decisionText">
            Décision :
          </div>
          <div class="decisionTag" [class.validate]="isValidate">
            {{tagText}}
          </div>
        </div>
        <div class="simpleContent" [innerHTML]="getDecisionText()"></div>
      </div>
    </app-white-container>
  </div>
</div>
<app-bottom-bar [isDisplayed]="analysisRiskResidual.isModify && (!isOwner || (isOwner && analysis.residualRisk))">
  <app-state-bar (clickEventRightButton)="changeMode(false)"
    [rightButtondisabled]="this.analysis && ((!this.isOwner && !this.analysis.residualRisk) || (this.isOwner && !this.analysis.decision))"
    [rightButtonText]="'Voir la synthèse'"></app-state-bar>
</app-bottom-bar>















  <div id="pdfContainer" class="analysisResidualRiskContainer" *ngIf="analysis && (!isOwner || (isOwner && analysis.residualRisk))">
    <div class="titleContainer">
      <div class="title">{{analysis.ral_name}}: {{analysisRiskResidual.title}}</div>
    </div>

    <app-white-container class="commentContainer" [isActive]="analysisRiskResidual.isModify"
      [isModify]="analysisRiskResidual.isModify" [displayBlock]="true" id="rrContainer"
      [isDisplaySquare]="!analysisRiskResidual.isModify || isOwner">
      <div class="headerContainer">
        <div class="titleTextField">Risques résiduels</div>
      </div>
      <div *ngIf="!analysisRiskResidual.isModify || isOwner">
        <div *ngIf="analysis.residualRisk" class="dateAndUser">
          <div *ngIf="rrUserName" class="user">{{rrUserName}}</div>
          <div class="date">• {{analysis.residualRisk.rri_date | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="simpleContent" [innerHTML]="rrText"></div>
      </div>
    </app-white-container>

    <app-white-container *ngIf="analysis.residualRisk" class="commentContainer" id="opinionContainer"
      [isActive]="analysisRiskResidual.isModify" [isModify]="analysisRiskResidual.isModify" [displayBlock]="true"
      [isDisplaySquare]="!analysisRiskResidual.isModify || isOwner">
      <div class="headerContainer" [class.modifyMode]="!analysisRiskResidual.isModify">
        <div class="titleTextField">Autre avis</div>
      </div>
      <div *ngIf="!analysisRiskResidual.isModify || isOwner">
        <div *ngIf="analysis.opinion" class="dateAndUser">
          <div *ngIf="opinionUserName" class="user">{{opinionUserName}}</div>
          <div class="date">• {{analysis.opinion.opi_date | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="simpleContent" [innerHTML]="getOpinionText()"></div>
      </div>
    </app-white-container>

    <app-white-container *ngIf="isOwner || (!isOwner && !analysisRiskResidual.isModify)" class="commentContainer"
      id="decisionContainer" [isActive]="analysisRiskResidual.isModify" [isModify]="analysisRiskResidual.isModify"
      [displayBlock]="true">
      <div class="headerContainer" [class.modifyMode]="!analysisRiskResidual.isModify">
        <div class="titleTextField">Décision métier</div>
      </div>
      <div *ngIf="!analysisRiskResidual.isModify">
        <div *ngIf="analysis.decision" class="dateAndUser">
          <div *ngIf="decisionUserName" class="user">{{decisionUserName}}</div>
          <div class="date">• {{analysis.decision.dec_date | date:'dd/MM/yyyy'}}</div>
        </div>
        <div *ngIf="isValidate !== null" class="decision">
          <div class="decisionText">
            Décision :
          </div>
          <div class="decisionTag" [class.validate]="isValidate">
            {{tagText}}
          </div>
        </div>
        <div class="simpleContent" [innerHTML]="getDecisionText()"></div>
      </div>
    </app-white-container>
  </div>
