@import "./src/styles.scss";

.analysisResidualRiskContainer {
  display: flex;
  flex-direction: column;
  margin: 60px 60px 40px 60px;
  padding-bottom: 0;

  &.bottomBar {
    padding-bottom: 40px;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .title {
      font-family: $Graphik-Light, "Helvetica";
      font-size: 52px;
    }
  }

  .noRR {
    font-size: 16px;
    color: $kyrBlack;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }

  .commentContainer {
    .headerContainer {
      display: flex;
      justify-content: space-between;

      &.modifyMode {
        margin-top: 33px;
      }

      .titleTextField {
        font-size: 32px;
        color: $kyrBlack;
        font-weight: bold;
      }
    }

    .displayModify {
      display: flex;
      flex-direction: column;

      .subTitleTextField {
        font-size: 16px;
        color: $kyrBlack;
        margin: 40px 0 20px;
        font-weight: bold;
      }

      .validateButton {
        align-self: flex-end;
        margin-top: 24px;
      }

      .choicesDecisionContainer {
        display: flex;
      }
    }

    .simpleContent {
      font-size: 16px;
      line-height: 1.5;
      margin: 24px 0 32px;
      white-space: pre-wrap;
    }

    .dateAndUser {
      display: flex;
      margin-top: 12px;

      .user {
        font-size: 16px;
        color: $kyrBlack;
      }

      .date {
        font-size: 12px;
        color: $kyrMediumGrey;
        margin-left: 4px;
        align-self: center;
      }
    }

    .decision {
      display: flex;
      margin-top: 26px;

      .decisionText {
        font-size: 16px;
        color: $kyrBlack;
        font-weight: bold;
        margin-right: 10px;
      }

      .decisionTag {
        font-size: 10px;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 12px;
        height: 12px;
        line-height: 12px;
        color: $kyrRed;
        background-color: $kyrLightRed;

        &.validate {
          color: $kyrDarkGreen;
          background-color: $kyrLightGreen;
        }
      }
    }
  }
}

#pdfContainer {
  position: absolute;
  width: 1190px;
  top: -1000%;
  app-white-container {
    max-width: 1160px;
  }
}
