@import "./src/styles.scss";

#modalAddMeasures {
    #app-list-search {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
    }
    .addModifyModalContainer {
        height: 100%;
    }
}