<app-modal id="modalAddMeasures" [isFull]="true" [isBig]="step === 2" [displayed]="isDisplayed" [hasBottomBar]="analysisMeasuresToAdd.length > 1"
[canCloseByClickingOutside]="false" (closeEvent)="close()">
  <app-list-search *ngIf="step === 1" id="app-list-search" [title]="getTitle()" 
  [subTitle]="'suggestions'" [inputPlaceholder]="getPlaceholderText()" [entryList]="filterList()" 
  [roundButtonDisplayed]="false" [canCreateEntry]="true" [searchAllFields]="false" 
  (validateEvent)="addMeasures($event)" (validateCustomEntriesEvent)="addCustomMeasures($event)"></app-list-search>
  <app-add-modify-measure *ngIf="step === 2" class="addModifyModalContainer" [measures]="analysisMeasuresToAdd" 
  [modifyMode]="modifyMode"></app-add-modify-measure>
</app-modal>