@import "./src/styles.scss";

.questionContainer {
  font-size: 16px;
  margin: 20px 0;
  width: 100%;

  &.isReadMode {
    width: calc(100% - 50px);
  }
  .title {
    margin-bottom: 12px;
    color: $kyrBlack;
    font-weight: bold;
  }
  .toggleContentContainer {
    display: flex;
    align-items: center;

    #app-toggle-qcm {
      width: 100%;
    }
  }
  .subTitle {
    font-size: 12px;
    color: $kyrDarkGrey;
  }
  .editContent {
    margin: 20px 0;

    #app-input {
      display: block;
      width: 100%;
      height: 100%;

      &.smallInput {
        max-width: 440px;
      }
    }
  }
  .readContent {
    font-size: 16px;
    line-height: 1.5;

    .simpleAnswer {
      white-space: pre-wrap;
    }
    .placeholder {
      opacity: 0.5;
      background-color: $kyrGrey;

      &.big {
        width: 450px;
        height: 20px;
        margin-bottom: 10px;
        margin-top: 25px;
      }
      &.small {
        width: 430px;
        height: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
      }
    }
    .empty {
      color: $kyrOrange;
      font-style: italic;
    }
  }
}
