<div *ngIf="question" class="questionContainer" [class.isReadMode]="!isModify">
    <div *ngIf="hasToggle(question.type)" class="toggleContentContainer">
        <app-toggle-qcm id="app-toggle-qcm" [toggleLabel]='getToggleLabel()' [isModify]="isModify" [question]="question"
            [guid]="guid" [answers]="answers" [analysis]="analysis" [apiPath]="apiPath" (checkEvent)="sendToggle($event)"></app-toggle-qcm>
    </div>
    <div *ngIf="question.title && !hasToggle(question.type) && showTitle() && isModify" class="title">{{getTitle()}}</div>
    <div *ngIf="!hasToggle(question.type) && showTitle() && !isModify" class="title">{{getRecapTitle()}}</div>
    <div *ngIf="question.subTitle && isModify && !hasToggle(question.type)" class="subTitle">{{question.subTitle()}}
    </div>
    <div *ngIf="!isModify && !hasToggle(question.type)" class="readContent">
        <div *ngIf="answers && !isArray(answers)" class="simpleAnswer" [innerHTML]="answers"></div>
        <div *ngIf="!isSlider(question.type) && !hasToggle(question.type) && ( !answers || isArray(answers) && answers.length === 0) && (question.isOptional === false)"
            class="empty">
            Non renseigné</div>
        <app-qcm *ngIf="hasAnswers()" [readMode]="true" [type]="question.type" [guid]="guid"
            [apiPath]="question.apiPath" [propertyName]="question.propertyName" [answers]="answers"
            [nbPlaceholders]="question.nbPlaceholder"></app-qcm>
        <app-sliders-qcm *ngIf="isSlider(question.type)" [readMode]="true" [guid]="guid"
            [analysisName]="analysis.ral_name" [question]="question" [dicpValues]="answers">
        </app-sliders-qcm>
    </div>
    <div *ngIf="isModify && !hasToggle(question.type)" class="editContent">
        <app-qcm *ngIf="isQcm(question.type)" [type]="question.type" [guid]="guid" [apiPath]="question.apiPath"
            [propertyName]="question.propertyName" [answers]="answers" [nbPlaceholders]="question.nbPlaceholder">
        </app-qcm>
        <app-input *ngIf="isTextInput(question)" id="app-input" [class.smallInput]="!isArea(question)" [value]="answers" [isArea]="isArea(question)" [rows]="5"
            [placeholder]="getPlaceholder()" (changeEvent)="send($event)">
        </app-input>
        <app-sliders-qcm *ngIf="isSlider(question.type)" [guid]="guid" [analysisName]="analysis.ral_name"
            [question]="question" [impact]="getImpact()" [dicpValues]="answers" [readMode]="false">
        </app-sliders-qcm>
    </div>
</div>

<div *ngIf="placeholder" class="questionContainer" [class.isReadMode]="!isModify">
    <div *ngIf="!isModify" class="readContent">
        <div class="placeholder big">
        </div>
        <div class="placeholder small"></div>
        <div class="placeholder small"></div>
        <div class="placeholder small"></div>
        <div class="placeholder big">
        </div>
        <div class="placeholder small"></div>
        <div class="placeholder small"></div>
        <div class="placeholder big">
        </div>
        <div class="placeholder small"></div>
    </div>
</div>