<app-modal id="modalUnlockAnalysis" [displayed]="isDisplayed" (closeEvent)="close(false)">
    <div class="modalContainer">
        <div class="title">
            Êtes-vous certain de vouloir débloquer <span class="name">{{analysisName}}</span> ?
        </div>
        <div class="question">
            Si vous le débloquez, la date de validation se réinitialisera : pensez à la noter !
        </div>
        <div class="buttonsContainer">
            <app-button class="button" [isBlue]="true" [text]="'Non, annuler'" (click)="close(false)">
            </app-button>
            <app-button class="button" [isBlue]="true" [text]="'Oui, débloquer'" [inverted]="true" (click)="close(true)">
            </app-button>
        </div>
    </div>
</app-modal>