@import "./src/styles.scss";

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        font-size: 16px;
        margin-bottom: 24px;
        .name {
            font-weight: bold;
        }
    }
    .question {
        color: $kyrMediumGrey;
        margin-bottom: 40px;
        font-size: 12px;
    }
    .buttonsContainer {
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        padding: 0 127px;
        .button {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}