<app-white-container #formEl *ngIf="form && analysis" class="formContainer" [isLast]="isLast" [isActive]="form.isActive"
    [displayBlock]="displayType === 1" [isModify]="isModify">
    <div class="header" *ngIf="form.paging || form.deleteButton">
        <div *ngIf="form.paging" class="paging">{{form.app-modify-buttopaging}}</div>
        <app-delete-button *ngIf="form.deleteButton && !displayType" (clickEvent)="delete()" [withText]="true"
            [disableOnClick]="true" [height]="40" [width]="130">
        </app-delete-button>
    </div>
    <div [class.displayLine]="displayType === 1">
        <div *ngIf="form.title && !form.inputTitle" class="title" [class.typeTitle]="displayType === 1" [class.pdfMargin]="exportingPDF">
            {{getTitle(analysis.ral_name)}}</div>
        <div *ngIf="!analysis.ral_isBlocked" class="buttonsContainer">
            <app-modify-button class="modify" *ngIf="!analysis.ral_isBlocked && !isModify && displayType === 1 && !hideLottieButtons"
            id="modifyBtn" (clickEvent)="modify()"></app-modify-button>
            <app-delete-button *ngIf="form.deleteButton && displayType === 1 && !hideLottieButtons" (clickEvent)="delete()"
                [withText]="false" [disableOnClick]="true"></app-delete-button>
        </div>
    </div>
    <div *ngIf="form.inputTitle" class="inputTitle">
        <app-input-title [value]="form.title" [placeHolder]="form.placeHolderTitle" [focused]="this.form.isTitleFocused"
            [displayError]="form.isErrorDisplayed" [errorText]="form.errorText" [maxLength]="form.maxCharacterTitle"
            (endFocusEvent)="endFocusTitle($event)"></app-input-title>
    </div>
    <div *ngIf="form.subtitle" class="subtitle">{{form.subtitle}}</div>
    <div class="questionsContainer">
        <app-modify-button *ngIf="!analysis.ral_isBlocked && !isModify && displayType !== 1 && !hideLottieButtons" id="modifyBtn" (clickEvent)="modify()">
        </app-modify-button>
        <app-question *ngFor="let question of form.questions" [question]="question" [isModify]="isModify"
            [guid]="form.id ? form.id : analysis.ral_id" [analysis]="analysis"
            [apiPath]="form.apiPath"></app-question>
    </div>
</app-white-container>

<app-white-container *ngIf="placeholder" class="formContainer" [isModify]="isModify">
    <div class="title" [class.isModify]="isModify">
        <div class="placeholder"></div>
    </div>
    <div class="questionsContainer">
        <app-question [isModify]="isModify" [placeholder]="placeholder"></app-question>
    </div>
</app-white-container>