@import "./src/styles.scss";

.formContainer {
  .displayLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .buttonsContainer {
      position: absolute;
      right: 0;
      top: 20px;
    }
  }
  .title {
    font-family: $Graphik-Regular, Helvetica;
    width: 300px;
    font-size: 32px;
    color: $kyrBlack;
    padding: 20px 0;
    word-wrap: break-word;
    &.typeTitle {
      font-weight: bold;
      width: 1000px;
    }
    &.pdfMargin{
      width: 170px;
    }
    &.isModify {
      width: 100%;
    }
    .placeholder {
      opacity: 0.5;
      background-color: $kyrGrey;
      width: 150px;
      height: 50px;
    }
  }

  .inputTitle {
    margin-right: 170px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .paging {
      width: 128px;
      height: 12px;
      font-size: 12px;
      color: $kyrMediumGrey;
      font-family: $Graphik-Regular;
    }
  }

  
  
  .subtitle {
    font-family: $Graphik-Regular, Helvetica;
    font-size: 12px;
    color: $kyrMediumGrey;
    padding: 20px 0;
  }

  .questionsContainer {
    width: 100%;
    #modifyBtn {
      float: right;
      margin-top: 20px;
    }
  }


}
