@import "./src/styles.scss";

#bottomBarContainer {
  background-color: #ffffff;
  height: 40px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
  width: calc(100% - 384px);
  position: fixed;
  bottom: 0;
  padding: 12px;
  z-index: 1;
  margin-bottom: 0;

  &.isDisplayed {
    margin-bottom: 0px;
    transition: margin-bottom 0.3s cubic-bezier(0.98, 0.01, 0.49, 0.99);
  }

  &.isNotDisplayed {
    margin-bottom: -64px;
    transition: margin-bottom 0.3s cubic-bezier(0.98, 0.01, 0.49, 0.99);
  }

  &.isFull {
    width: calc(100% - 24px);
    left: 0;
  }
}
