<div class="app-datepicker-header">
    <img class="app-datepicker-back" src="/assets/img/icons/Chevron-left.svg" alt="" (click)="previousViewClicked()"
        [hidden]="isYearView()" />
    <img class="app-datepicker-navigation" src="/assets/img/icons/previous_arrow.svg" alt=""
        (click)="previousMultiYearClicked('year')" [hidden]="!isYearView()" />
    <span class="app-datepicker-header-label">{{periodLabel}}</span>
    <img class="app-datepicker-navigation" src="/assets/img/icons/next_arrow.svg" alt=""
        (click)="nextMultiYearClicked('year')" [hidden]="!isYearView()" />
    <img class="app-datepicker-back-opacity" src="/assets/img/icons/Chevron-left.svg" alt=""
        (click)="previousViewClicked()" [hidden]="isYearView()" />
</div>