.app-datepicker-header {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;

  .app-datepicker-header-label {
    height: 1em;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    align-self: center;
  }
  .app-datepicker-navigation {
    height: 12px;
    width: 12px;
    align-self: center;
    cursor: pointer;
  }
  .app-datepicker-back {
    height: 20px;
    width: 20px;
    align-self: center;
    cursor: pointer;
  }
  .app-datepicker-back-opacity {
    opacity: 0;
    align-self: center;
  }
}

