<div class="sliderQcm">
    <ng-container *ngIf="!readMode">
      <div class="dicp">
        <div class="index">
          <div>
            <div><span class="indexText">FAIBLE</span></div>
            <div><span class="indexText">MOYEN</span></div>
            <div><span class="indexText">FORT</span></div>
            <div><span class="indexText">CRITIQUE</span></div>
          </div>
        </div>
        <div class="line" *ngFor="let slider of dicp">
          <div class="text">
            <div class="title">{{slider.title(analysisName)}}</div>
          </div>
          <app-slider class="slider-wrapper" [readMode]="readMode" [valueToChange]="slider.valueToChange"
            [setStartingValue]="getStartingValue(slider)" (changeBulletValue)="changeDicp($event)"></app-slider>
        </div>
      </div>
    </ng-container>
    <div *ngIf="readMode">
      <div *ngFor="let slider of dicp" class="readMode">
        <div class="titleContainer" [class.smallVersion]="smallVersion" [class.noSlider]="noSliders">
          <div *ngIf="!noSliders" class="title" [class.smallVersion]="smallVersion">{{slider.title()}}</div>
          <div *ngIf="noSliders" class="title" [class.smallVersion]="smallVersion" >{{slider.title()}}: {{getLabel(getStartingValue(slider))}}</div>

          <div *ngIf="!smallVersion || noSliders" class="subtitle">{{slider.subtitle(analysisName)}}</div>
        </div>
        <app-slider *ngIf="!noSliders" class="slider-wrapper"  [smallVersion]="smallVersion" [readMode]="readMode" [setStartingValue]="getStartingValue(slider)">
        </app-slider>
      </div>
    </div>
  </div>
  