@import "./src/styles.scss";

.sliderQcm {
  .dicp {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 30px 40px;
    border: 1px solid $kyrGrey;
    border-radius: 4px;

    .index {
      display: flex;
      justify-content: flex-end;
      width: calc(100% - 365px);
      align-self: flex-end;

      > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        div {
          font-weight: bold;
          font-size: 12px;
          color: $kyrMediumGrey;
          width: 12px;

          .indexText {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
          }
        }
      }
    }

    .line {
      display: flex;
      align-items: center;
      margin: 10px 0;
      .slider-wrapper {
        width: 100%;
        margin-bottom: 24px;
      }
      .text {
        display: flex;
        flex-direction: column;
        min-width: 350px;
        max-width: 350px;
        margin-right: 15px;

        > .title {
          font-family: $Graphik-Regular, Helvetica;
          font-size: 14px;
          color: $kyrBlack;
          margin-bottom: 4px;
        }

        > .subtitle {
          font-size: 12px;
          line-height: 1.33;
          color: $kyrMediumGrey;
        }
      }
    }
  }
  .readMode {
    display: flex;
    .titleContainer {
      width: 240px;
   
      .title {
        font-size: 16px;
        color: $kyrBlack;
        font-family: $Graphik-Regular, Helvetica;
        font-weight: bold;
        width: 200px;
        &.smallVersion {
          font-size: 14px;
        }
      }
      &.smallVersion {
        width: 100px;
      }
      &.noSlider {
        width: 100%;
        margin-bottom: 20px;
      }
      .subtitle {
        font-size: 12px;
        line-height: 1.33;
        color: $kyrDarkGrey;
      }
    }

    .slider-wrapper {
      flex: 1;
      margin-left: 45px;
      margin-bottom: 24px;
    }
  }
}
