<div *ngIf="withText" class="modifyButton" (mouseenter)="playHoverIn()"
  (mouseleave)="playHoverOut()" (click)="playClick()">
  <lottie-animation-view [hidden]="position !== 1" class="deleteButton" [height]="height" [width]="width"
    [options]="lottieConfigHover" (animCreated)="handleAnimationHover($event)" id="lottieCreateAnimationIn">
  </lottie-animation-view>
  <lottie-animation-view [hidden]="position !== 2" class="deleteButton" [height]="height" [width]="width"
    [options]="lottieConfigHoverOut" (animCreated)="handleAnimationHoverOut($event)" id="lottieCreateAnimation">
  </lottie-animation-view>
</div>
<div *ngIf="!withText" class="modifyButton" (mouseenter)="playHoverInTextless()"
  (mouseleave)="playHoverOutTextless()" (click)="playClick()">
  <lottie-animation-view [hidden]="position !== 1" class="deleteButton" [width]="32" [height]="32"
    [options]="lottieConfigTextlessHover" (animCreated)="handleAnimationTextlessHover($event)" id="lottieCreateAnimationIn">
  </lottie-animation-view>
  <lottie-animation-view [hidden]="position !== 2" class="deleteButton" [width]="32" [height]="32"
    [options]="lottieConfigTextlessHoverOut" (animCreated)="handleAnimationTextlessHoverOut($event)" id="lottieCreateAnimation">
  </lottie-animation-view>
</div>