@import "./src/styles.scss";

svg {
  height: 100%;
  width: 100%;
  .strokeBackGround {
    fill: none;
    stroke-width: 3;
    stroke: $kyrSemiLightGrey;
  }

  .strokeForeGround {
    fill: none;
    stroke-width: 3;
    stroke: $kyrBlue;
    stroke-dasharray: 0 100;
    transition: stroke-dasharray 0.5s ease-in-out;
  }
}
