<svg *ngIf="radius && strokeThickeness" [attr.viewBox]="'0 0 '+ (radius * 2) +' '+ (radius * 2)">
  <path [attr.d]="'M' + radius + ' ' + strokeThickeness + ' 
  a ' + (radius - strokeThickeness) + ' ' + (radius - strokeThickeness) + ' 0 0 1 0 ' + ((radius - strokeThickeness) * 2) + ' 
  a ' + (radius - strokeThickeness) + ' ' + (radius - strokeThickeness) + ' 0 0 1 0 -' + ((radius - strokeThickeness) * 2)" stroke-dasharray="100, 100" class="strokeBackGround" />
  <path [attr.d]="'M' + radius + ' ' + strokeThickeness + ' 
          a ' + (radius - strokeThickeness) + ' ' + (radius - strokeThickeness) + ' 0 0 1 0 ' + ((radius - strokeThickeness) * 2) + ' 
          a ' + (radius - strokeThickeness) + ' ' + (radius - strokeThickeness) + ' 0 0 1 0 -' + ((radius - strokeThickeness) * 2)" class="strokeForeGround" [ngStyle]="getStrokeStyle()" />
</svg>