<button  class="customBtn" mat-button [class.small]="small" [class.midSize]="midSize" 
[class.thin]="thin" [class.big]="big" [class.disabled]="disabled" [class.inverted]="inverted" 
[class.blue]="isBlue" [class.orange]="!isBlue" [class.hasIcon]="icon" (click)="click()">
    <div *ngIf="icon" class="icon" [class.after]="after" [class.before]="!after" >
        <img [src]="icon" alt="" />
    </div>
    <div class="text">{{text}}</div>
</button>