@import "./src/styles.scss";

.customBtn {
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 26px;
  padding: 5px 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: padding 0.2s cubic-bezier(0.83, 0, 0.19, 0.99), color 0.2s cubic-bezier(0.83, 0, 0.19, 0.99);
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: opacity 0.3s cubic-bezier(0.83, 0, 0.19, 0.99), height 0.3s cubic-bezier(0.83, 0, 0.19, 0.99);
  }

  &.blue {
    border-color: $kyrBlue;
    color: $kyrBlue;

    &:after {
      background: $kyrBlue;
    }
  }

  &.orange {
    border-color: $kyrOrange;
    color: $kyrOrange;

    &:after {
      background: $kyrOrange;
    }
  }

  &.big {
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 30px;
  }

  &.midSize {
    font-size: 14px;
    padding: 0 16px;
    border-radius: 30px;
  }

  &.thin {
    font-size: 14px;
    padding: 0 35px;
    border-radius: 30px;
  }

  &.small {
    font-size: 14px;
    padding: 0px 15px;
    border-radius: 20px;

    .text {
      height: 24px;
      display: flex;
      align-items: center;
    }
  }

  &.hasIcon {
    transition: color 0s cubic-bezier(0.83, 0, 0.19, 0.99);
  }

  .icon {
    display: flex;
    height: 24px;
    width: 24px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(50% - 12px);
    transform: scale(0.5);
    transition: top 0.2s cubic-bezier(0.83, 0, 0.19, 0.99);

    & ~ .text {
      position: relative;
      transition: all 0.2s cubic-bezier(0.62, 0, 0, 1);
    }

    &.after {
      right: 30px;
      transition: right 0.3s cubic-bezier(0.62, 0, 0, 1), transform 0.3s cubic-bezier(0.62, 0, 0, 1),
        opacity 0.3s cubic-bezier(0.62, 0, 0, 1), visibility 0.3s cubic-bezier(0.62, 0, 0, 1);

      & ~ .text {
        left: 0;
      }
    }

    &.before {
      left: 30px;
      transition: left 0.3s cubic-bezier(0.62, 0, 0, 1), transform 0.3s cubic-bezier(0.62, 0, 0, 1),
        opacity 0.3s cubic-bezier(0.62, 0, 0, 1), visibility 0.3s cubic-bezier(0.62, 0, 0, 1);

      & ~ .text {
        right: 0;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    &:not(.disabled) {
      color: #fff;

      .icon {
        &.after {
          right: 10px;
          z-index: 2;

          & ~ .text {
            left: -12px;
          }
        }
        &.before {
          left: 10px;
          z-index: 2;
          & ~ .text {
            right: -12px;
          }
        }
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }

      &:after {
        opacity: 1;
        height: 350%;
      }

      &.small {
        &:after {
          height: 300%;
        }
      }

      &.big {
        &:after {
          height: 400%;
        }
      }
      &.thin {
        &:after {
          height: 610%;
        }
      }
    }
  }

  &.inverted {
    color: #fff;

    &:hover {
      color: $kyrOrange;
    }

    &:after {
      background-color: #fff;
    }

    &.blue {
      background-color: $kyrBlue;

      &:hover {
        color: $kyrBlue;
      }
    }

    &.orange {
      background-color: $kyrOrange;

      &:hover {
        color: $kyrOrange;
      }
    }
  }

  &.disabled {
    background-color: #fff;
    color: $kyrMediumGrey;
    border-color: $kyrGrey;
    cursor: initial;

    &:hover {
      background-color: #fff;
      color: $kyrMediumGrey;
      border-color: $kyrGrey;
    }

    &.inverted {
      background-color: $kyrGrey;
      color: #fff;

      &:hover {
        background-color: $kyrGrey;
        color: #fff;
      }
    }
  }
}
