<div *ngIf="withText" class="deleteButton" [class.disabled]="alreadyClicked && disableOnClick"
  (mouseenter)="playHoverIn()" (mouseleave)="playHoverOut()" (click)="playClick()">
  <lottie-animation-view [hidden]="position !== 1" class="deleteButton" [width]="width" [height]="height"
    [options]="lottieConfigHover" (animCreated)="handleAnimationHover($event)" id="lottieCreateAnimationIn">
  </lottie-animation-view>
  <lottie-animation-view [hidden]="position !== 2" class="deleteButton" [width]="width" [height]="height"
    [options]="lottieConfigHoverOut" (animCreated)="handleAnimationHoverOut($event)" id="lottieCreateAnimation">
  </lottie-animation-view>
</div>
<div *ngIf="!withText" class="deleteButton" [class.disabled]="alreadyClicked && disableOnClick"
  (mouseenter)="playHoverInTextless()" (mouseleave)="playHoverOutTextless()" (click)="playClick()">
  <lottie-animation-view [hidden]="position !== 1" class="deleteButton" [width]="42" [height]="42"
    [options]="lottieConfigTextlessHover" (animCreated)="handleAnimationHoverTextless($event)"
    id="lottieCreateAnimationIn">
  </lottie-animation-view>
  <lottie-animation-view [hidden]="position !== 2" class="deleteButton" [width]="42" [height]="42"
    [options]="lottieConfigTextlessHoverOut" (animCreated)="handleAnimationHoverOutTextless($event)"
    id="lottieCreateAnimation">
  </lottie-animation-view>
</div>