<div class="downloadContainer">
    <img class="arrowIcon" src="/assets/img/icons/download.svg" alt="" />
    <div *ngIf="!processing" class="text">Télécharger</div>
    <div *ngIf="processing" class="text">En cours ...</div>
  </div>