@import "./src/styles.scss";

.downloadContainer {
  display: flex;
  border: 1px solid $kyrDarkGrey;
  padding: 8px 13px 7px 9px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  .arrowIcon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
  .text {
    font-size: 14px;
    font-weight: bold;
    color: $kyrDarkGrey;
  }
}
