<div class="notFoundContainer">
  <div class="errorContainer">
    <div class="errorText">
      Oups ! <br />
    </div>
    <div class="errorExplanation">Il semblerait qu'il y ait eu un problème</div>
    <app-button id="app-button" [text]="'Retour à l\'accueil'" [inverted]="true" [isBlue]="false"
      (clickEvent)="backToHome()">
    </app-button>
  </div>
</div>