@import "./src/styles.scss";

.tileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 138px;
  margin: 0 20px 20px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  border: solid 1px $kyrGrey;
  cursor: pointer;
  font-weight: bold;

  &.backgroundColor {
    background-color: $kyrOrange;

    &.isRed {
      background-color: $kyrRed;
    }

    &.isGreen {
      background-color: $kyrGreen;
    }
  }

  &.hidden {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
  }
  .placeholder {
    opacity: 0.5;
    background-color: $kyrGrey;

    &.imagePlaceholder {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      margin-bottom: 10px;
    }
    &.textPlaceholderBig {
      height: 8px;
      width: 105px;
      margin-top: 10px;
    }
    &.textPlaceholderSmall {
      height: 3px;
      width: 252px;
      margin-top: 5px;
      margin-left: 40px;
    }
  }
  &.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  .app-check {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .lozad {
    visibility: hidden;
    &.loaded {
      visibility: visible;
    }
  }
  .title {
    font-size: 14px;
    color: $kyrMediumGrey;
    width: calc(100% - 34px);

    &.activeSelection {
      color: $kyrDarkGrey;
    }
  }

  .subTitle {
    font-size: 12px;
    margin-top: 4px;
    font-family: $Graphik-Regular;
    color: $kyrMediumGrey;
    font-weight: normal;
    width: 100%;
  }

  &.thin {
    width: 300px;
    height: 24px;
    align-items: flex-start;
    .subTitle,
    .title {
      margin-left: 34px;
    }
    &.noCheck {
      width: 126px;
      align-items: center;
      .title {
        margin: 0;
        text-align: center;
      }
    }
    &.hidden {
      visibility: visible;
    }
   
  }

  &:not(.thin) {
    .title, .subTitle {
      text-align: center;
    }
  }



  .image {
    width: 50px;
    margin-bottom: 18px;
  }

  .datePicker {
    position: absolute;
    right: 10px;
    top: 0;
    
    .inputDatePicker {
      width: 0; 
      height: 0;
      border: none;
    }
  }

  .app-help {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &.selected {
    border: solid 1px $kyrOrange;

    .title {
      color: $kyrBlack;
      &.textColor {
        color: white;
      }

      &.activeSelection {
        font-weight: normal;
      }
    }

    &.isRed {
      border: solid 1px $kyrRed;
    }

    &.isGreen {
      border: solid 1px $kyrGreen;
    }
  }
}
