<div *ngIf="choice && !placeholder" class="tileContainer" (click)="select()" [class.hidden]="!showTile()"
  [class.selected]="choice.checked" [class.textColor]="fullBackground && choice.checked" [class.thin]="thin" [class.noCheck]="!hasCheck" 
  [class.backgroundColor]="fullBackground && choice.checked" [class.isDatePicker]="choice.isDatePicker" 
  [class.isRed]="isRed" [class.isGreen]="isGreen">
  <app-check *ngIf="hasCheck" class="app-check" [checked]="choice.checked" [radioButton]="radioButton"></app-check>
  <div *ngIf="choice.cho_icon" class="icon image">
    <img [src]="getChoiceIcon(choice)" alt="" class="lozad" (load)="imagesLoaded($event)" />
  </div>
  <div *ngIf="choice.cho_name" class="title" [class.textColor]="fullBackground && choice.checked" 
      [class.activeSelection]="isGreen || isRed">
    {{choice.cho_name}}
  </div>
  <div *ngIf="choice.cho_subtitle" class="subTitle" class="subTitle">
    {{choice.cho_subtitle}}
  </div>
  <app-help *ngIf="choice.cho_help" class="app-help" [help_text]="choice.cho_help"></app-help>
  <div *ngIf="choice.isDatePicker" class="datePicker">
    <input matInput class="inputDatePicker" [matDatepicker]="picker" [value]="dateControle.value" [min]="minDate">
    <mat-datepicker #picker startView="multi-year" (monthSelected)="chosenMonthHandler($event, picker)"
      [calendarHeaderComponent]="datePickerHeader"></mat-datepicker>
    <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
  </div>
</div>

<div *ngIf="!thin && (placeholder || !showTile())" class="tileContainer">
  <app-check class="app-check"></app-check>
  <div class="placeholder imagePlaceholder">
  </div>
  <div class="placeholder textPlaceholderBig">
  </div>
  <div class="placeholder textPlaceholderBig">
  </div>
</div>
<div *ngIf="thin && placeholder " class="tileContainer" [class.thin]="thin">
  <app-check class="app-check"></app-check>
  <div class="placeholder textPlaceholderSmall">
  </div>
  <div class="placeholder textPlaceholderSmall">
  </div>
</div>