<div [hidden]="hasError">
  <div class="descriptionContainer" [class.bottomBarSpacing]="description.isModify">
    <div *ngIf="!description.isModify" class="titleContainer">
      <div class="title">{{description.title}}</div>
      <app-download-button [processing]="exportingPDF" (click)="exportPDF()"></app-download-button>
    </div>
    <app-form *ngFor="let in of counter(description.steps.length) ;let i = index" [isModify]="description.isModify"
      [placeholder]="placeholder"></app-form>

    <app-form *ngFor="let step of description.steps; let i = index" [isFirst]="i===0" [id]="'form'+i"
      [isLast]="i===(description.steps.length - 1)" [form]="step" [isModify]="description.isModify"
      [analysis]="analysis" [placeholder]="placeholder" (modifyEvent)="modify($event, i, step)" (prevEvent)="prev(i)"
      (nextEvent)="next(i)" (activeEvent)="setActive(i, $event)"></app-form>
    <app-button class="btnProtect" *ngIf="!description.isModify" [icon]="'/assets/img/icons/Chevron.svg'"
      (clickEvent)="goToImpactModification()" [text]="'Ce que je veux protéger'" [after]="true" [thin]='true'
      [inverted]="true">
    </app-button>
  </div>
  <app-bottom-bar *ngIf="description.isModify" [isDisplayed]="true">
    <app-state-bar (clickEventRightButton)="goToRecap()" [rightButtonText]="'Voir la synthèse'"></app-state-bar>
  </app-bottom-bar>
</div>

<div *ngIf="exportingPDF && analysis" id="pdfContainer" class="descriptionContainer"
  [class.bottomBarSpacing]="description.isModify">
  <div class="titleContainer">
    <div *ngIf="!description.isModify" class="title">{{analysis.ral_name}}: {{description.title}}</div>
  </div>

  <app-form *ngFor="let step of description.steps; let i = index" class="formDescription" [isFirst]="i===0"
    [id]="'form'+i" [isLast]="i===(description.steps.length - 1)" [form]="step" [isModify]="description.isModify"
    [analysis]="analysis" [exportingPDF]="exportingPDF" [hideLottieButtons]="exportingPDF" [placeholder]="placeholder"
    (modifyEvent)="modify($event, i, step)" (prevEvent)="prev(i)" (nextEvent)="next(i)"
    (activeEvent)="setActive(i, $event)"></app-form>
</div>

<div *ngIf="hasError" [hidden]="!hasError" class="accessErrorContainer">
  <div id="padlock"><img src="/assets/img/icons/padlock.svg" alt="" /></div>
  <div>Vous n’avez pas les droits d’accès</div>
  <div id="buttonsContainer">
    <app-button class="button" routerLink="/" [text]="'Retour à l\'accueil'" [inverted]="true"></app-button>
  </div>
</div>