@import "./src/styles.scss";

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin: 60px;

  &.bottomBarSpacing {
    margin: 40px 60px 64px 60px;
    padding-bottom: 40px;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
    .title {
      font-family: $Graphik-Light, Helvetica;
      font-size: 52px;
      white-space: pre;
    }
  }

  .btnProtect {
    align-self: flex-end;
  }
}

.accessErrorContainer {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  color: $kyrBlack;
  z-index: 6;
  flex-direction: column;

  #padlock {
    height: 56px;
    width: 56px;
    margin-bottom: 32px;
  }

  &[hidden] {
    opacity: 0;
    visibility: hidden;
  }

  #buttonsContainer {
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    .button {
      margin: 0 9px;
    }
  }
}

#pdfContainer {
  position: absolute;
  width: 1190px;
  top: 1000%;
}
