@import "./src/styles.scss";

.mainContainer {
  height: calc(100vh - 122px);
  .upperContainer {
    height: 128px;
    background-color: white;
    padding: 77px 80px 0 80px;
    margin-top: -77px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 32px;
      font-weight: bold;
      color: $kyrBlack;
    }
  }
  .analysesContainer {
    margin-top: 45px;
    height: calc(100% - 128px);

    .header {
      display: flex;
      justify-content: flex-start;
      margin: 12px 80px 8px 80px;
      padding: 0 32px;
      .column {
        min-width: 270px;
        font-size: 12px;
        color: $kyrMediumGrey;
        font-weight: bold;
        &.analyseName {
          display: flex;
          align-items: center;
          min-width: 270px;
        }
        &.owner {
          display: flex;
          align-items: center;
          min-width: 270px;
        }
        &.entity {
          display: flex;
          align-items: center;
          min-width: 190px;
        }
        .users {
          min-width: 270px;
        }
        .decision {
          white-space: nowrap;
        }
      }
    }

    .virtualScrollContainer {
      height: calc(100% - 21px);
      .analysisContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 12px 80px;
        padding: 0 32px;
        height: 80px;
        border-radius: 8px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        background-color: white;
        &:hover {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        }
        cursor: pointer;
        .nameContainer {
          display: flex;
          align-items: center;
          width: 270px;
          .name {
            font-size: 20px;
            font-weight: bold;
            color: $kyrBlack;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &.isLocked {
              color: $kyrMediumGrey;
            }
          }
          .lockIcon {
            height: 32px;
            .tooltip {
              position: absolute;
              display: flex;
              white-space: nowrap;
              margin-left: 16px;
            }
          }
        }
        .owner {
          min-width: 270px;
          display: flex;
          align-items: center;
          .ownerButton {
            position: relative;
          }
          .ownerName {
            font-size: 14px;
            color: $kyrBlack;
            margin-left: 12px;
            &.isLocked {
              color: $kyrMediumGrey;
            }
          }
        }
        .entity {
          display: flex;
          align-items: center;
          min-width: 190px;
          font-size: 14px;
        }
        .users {
          min-width: 270px;

          .contributorsContainer {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            .contributorsTiles {
              position: relative;
            }
          }

          .noUserText {
            font-size: 12px;
            color: $kyrMediumGrey;
            font-style: italic;
            opacity: 0.7;
          }
        }
        .decisionContainer {
          .decision {
            width: 270px;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            width: 64px;
            font-size: 10px;
            height: 20px;
            font-weight: bold;
          }
          .tooltip {
            position: absolute;
            display: flex;
            white-space: nowrap;
            margin: 10px 0 0 32px;
          }
        }
      }
    }
  }

  .analysisContainerPlaceholder {
    display: flex;
    align-items: center;
    margin: 12px 80px;
    padding: 0 32px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    .namePlaceholders {
      height: 10px;
      margin-bottom: 3px;
      width: 250px;
      margin-right: 20px;
      opacity: 0.5;
      background-color: $kyrGrey;
    }
    .entityPlaceholders {
      height: 10px;
      margin-bottom: 3px;
      width: 80px;
      margin-right: 110px;
      opacity: 0.5;
      background-color: $kyrGrey;
    }
    .ownerPlaceholders {
      width: 270px;
      display: flex;
      align-items: center;
      .ownerPlaceholder {
        margin-right: 10px;
        background-color: $kyrGrey;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
      .ownerNamePlaceholder {
        background-color: $kyrGrey;
        height: 10px;
        width: 80px;
        opacity: 0.5;
        width: 150px;
      }
    }
    .usersPlaceholders {
      display: flex;
      height: 100%;
      .usersPlaceholder {
        display: flex;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
        .user1 {
          background-color: $kyrGrey;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          position: absolute;
          left: 43px;
          border: solid 1px white;
        }
        .user2 {
          background-color: $kyrGrey;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          position: absolute;
          left: 21px;
          border: solid 1px white;
        }
        .user3 {
          background-color: $kyrGrey;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          position: absolute;
          border: solid 1px white;
          left: 0;
        }
      }
    }
    .decisionPlaceholders {
      height: 10px;
      width: 64px;
      margin: 0 20px 3px 270px;
      opacity: 0.5;
      background-color: $kyrGrey;
      border-radius: 12px;
      height: 20px;
    }
  }
}
