<div class="mainContainer">
  <div class="upperContainer">
    <div class="title">
      Mes analyses de risque
    </div>
    <app-button (clickEvent)="goTo('/analyses/create')" [text]="'Nouvelle analyse'"
      [icon]="'/assets/img/icons/add-orange-cross.svg'" [inverted]='true'></app-button>
  </div>
  <div class="analysesContainer">

    <div class="header">
      <div class="column analyseName">
        Nom de l’analyse
      </div>
      <div class="column owner">
        Propriétaire
      </div>
      <div class="column entity">
        Entité
      </div>
      <div class="column users">
        Participants
      </div>
      <div class="column decision">
        Décision métier
      </div>
    </div>

    <cdk-virtual-scroll-viewport itemSize="80" class="virtualScrollContainer">
      <div *ngIf="!placeholder && analyses">
        <div *cdkVirtualFor="let analysis of analyses; let i = index" class="analysisContainer"
          (click)="goToAnalysis(analysis.id)">
          <div class="nameContainer">
            <div class="name" [class.isLocked]="analysis.isBlocked"> {{analysis.name}}</div>
            <div *ngIf="analysis.isBlocked" class="lockIcon" (mouseenter)="triggerHelp(i)" (mouseleave)="triggerHelp(i)"
              (click)="openUnblockAnalysisDialog($event, i)">
              <img [src]="getIconPath()" alt="" />
              <app-tooltip class="tooltip" [help_text]="tooltipText(i)" [direction]="'bottom'"
                [display]="analysis.isBlocked && listTooltipLock[i]">
              </app-tooltip>
            </div>
          </div>
          <div class="owner">
            <app-round-button class="ownerButton" [tooltipText]="getOwner(analysis.users).email"
              [borderColor]="'#ffffff'" [text]="getOwnerName(analysis.users)" [width]="'40px'" [height]="'40px'">
            </app-round-button>
            <div class="ownerName" [class.isLocked]="analysis.isBlocked">
              {{getOwnerName(analysis.users)}}
            </div>
          </div>
          <div class="entity"> {{analysis.entity.toUpperCase()}}</div>

          <div class="users">
            <div class="contributorsContainer" *ngIf="displayUsers(filterOutOwner(analysis.users))">
              <app-round-button
                *ngFor="let contributor of getNthLastEl(filterOutOwner(analysis.users), 2); let i = index"
                class="contributorsTiles" [tooltipText]="contributor.email"
                [style.left]="(getNthLastEl(filterOutOwner(analysis.users), 2).length - i - 1) * -8 + 'px'"
                [borderColor]="'#ffffff'" [text]="getContributorName(contributor)" [width]="'40px'" [height]="'40px'">
              </app-round-button>
            </div>
            <div class="noUserText" *ngIf="!displayUsers(filterOutOwner(analysis.users))">
              Pas d'autre participant
            </div>
          </div>
          <div class="decisionContainer" (mouseenter)="triggerDate(i)" (mouseleave)="triggerDate(i)">
            <div class="decision" [ngStyle]="getBorderStyle(analysis)">
              {{getDecisionText(analysis)}}
            </div>
            <app-tooltip class="tooltip" [help_text]="getDateDecision(i)" [direction]="'bottom'"
              [display]="analysis.isAccepted !== null && listTooltipDate[i]">
            </app-tooltip>
          </div>
        </div>
      </div>
      <div *ngIf="placeholder">
        <div *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" class="analysisContainerPlaceholder">
          <div class="namePlaceholders">
            <div class="namePlaceholders">
            </div>
            <div class="namePlaceholders">
            </div>
          </div>
          <div class="ownerPlaceholders">
            <div class="ownerPlaceholder">
            </div>
            <div class="ownerNamePlaceholder">
            </div>
          </div>
          <div class="entityPlaceholders">
          </div>
          <div class="usersPlaceholders">
            <div class="usersPlaceholder">
              <div class="user1"></div>
              <div class="user2"></div>
              <div class="user3"></div>
            </div>
          </div>
          <div class="decisionPlaceholders">
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>