@import "./src/styles.scss";

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
    align-items: center;
    .title {
        max-width: 435px;
        font-size: 24px;
        color: $kyrBlack;
        text-align: center;
        font-weight: bold;
        margin: 32px auto;
    }

    .warning {
        font-size: 16px;
        color: $kyrBlack;
        text-align: center;
        font-weight: bold;
        margin-bottom: 32px;
    }
    
    .subtitle {
        width: 480px;
        text-align: center;
        margin: auto;
        margin-bottom: 32px;
        line-height: 1.5;
    }

    .buttonsContainer {
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        padding: 0 150px;
        .button {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}
