<app-modal id="modalResidualRisk" [displayed]="isDisplayed" (closeEvent)="close(false)">
  <div class="modalContainer">
    <lottie-animation-view class="lottieRR" [width]="56" [height]="56" [options]="lottieResidualRisk"
      (animCreated)="handleAnimation($event)" id="lottieResidualRisk">
    </lottie-animation-view>
    <div class="title">
      Êtes-vous certain de vouloir valider ces risques résiduels ?
    </div>
    <div *ngIf="displayOpinionWarning" class="warning">
      Aucun avis n'a encore été rendu
    </div>
    <div class="subtitle">
      Cette validation verrouillera l'analyse de risque dans son état actuel. Vous pourrez cependant débloquer cette
      analyse depuis le menu principal afin d'y apporter des modifications.
    </div>
    <div class="buttonsContainer">
      <app-button class="button" [text]="'Annuler'" (click)="close(false)">
      </app-button>
      <app-button class="button" [text]="'Valider'" [inverted]="true" (click)="close(true)">
      </app-button>
    </div>
  </div>
</app-modal>