<div>
    <div class="analysisMeasuresContainer" [class.isBottomBarDisplayed]="isBottomBarDisplayed">
        <div class="titleContainer">
            <div class="title">{{analysisMeasures.title}}</div>
            <app-download-button [processing]="exportingPDF" (click)="exportPDF()"></app-download-button>
        </div>
        <div *ngIf="analysis" class="topContainer">
            <div class="smallContainer">
                <div class="blockTitle">exigences</div>
                <app-analysis-max-impacts [guid]="analysis.ral_id" [smallVersion]="true">
                </app-analysis-max-impacts>
            </div>
        </div>
        <div *ngIf="analysis" class="measuresContainer">
            <app-white-container [isActive]="true" [isModify]="true">
                <app-analysis-measure-list *ngIf="measuresAnalysis" [measures]="measuresAnalysis"
                    [cannotBeAdded]="cannotBeAdded" [title]="analysis.ral_name" [mainAsset]="true"
                    (measureCheckedIdEvent)="updateCheckedMeasures($event)" [isBlocked]="isBlocked">
                </app-analysis-measure-list>
            </app-white-container>
            <app-white-container *ngIf="measuresFeatures && measuresFeatures.length > 0" [isActive]="true"
                [isModify]="true">
                <app-analysis-measure-list *ngFor="let measures of measuresFeatures" [measures]="measures.measures"
                    [cannotBeAdded]="cannotBeAdded" [title]="measures.name" [parentId]="measures.id" class="measureList"
                    (measureCheckedIdEvent)="updateCheckedMeasures($event)" [isBlocked]="isBlocked">
                </app-analysis-measure-list>
            </app-white-container>
        </div>
        <app-button class="btnResidualRisks" [icon]="'/assets/img/icons/Chevron.svg'"
            (clickEvent)="goToResidualRisksModification()" [text]="'Ma prise de risque'" [after]="true" [thin]='true'
            [inverted]="true">
        </app-button>
    </div>
    <app-bottom-bar [isDisplayed]="isBottomBarDisplayed">
        <div class="bottomBar">
            <div class="text">{{nbMeasureSelected}}</div>
            <div class="rightBlock">
                <app-delete-button class="deleteButton" (clickEvent)="deleteMeasures()" [withText]="true" [height]="40"
                    [width]="123" [disableOnClick]="false"></app-delete-button>
                <app-modify-button (clickEvent)="modify()" [withText]="true" [height]="40" [width]="107">
                </app-modify-button>
            </div>
        </div>
    </app-bottom-bar>
</div>

<div id="pdfContainer" *ngIf="exportingPDF && analysis">
    <div class="title">{{analysis.ral_name}}: {{analysisMeasures.title}}</div>
    <div class="measureContainerPdf" *ngIf="measuresAnalysis">
        <div class="titleContainer">
            <div class="titleMeasure">{{analysis.ral_name}}</div>
            <div class="tagMeasure">Bien principal</div>
        </div>
        <div class="subTitle">Mesures en place:</div>
        <div class="detailsContainer" *ngFor="let measure of measuresAnalysis">
            <div class="measureName">{{measure.measure.mea_name}} </div>
            <div class="measureDetails">
               <div class="detailsFirstPart"> &bull; {{measure.measure.measureCategory.mca_name}} &bull; {{getLitteralCost(measure.ram_cost)}}</div>
                <div *ngIf="getLitteralImpacts(measure)"> &bull; {{getLitteralImpacts(measure)}}</div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="measureContainerPdf" *ngFor="let measuresFeature of measuresFeatures">
        <div class="titleContainer">
            <div class="titleMeasure">{{measuresFeature.name}}</div>
        </div>
        <div class="subTitle">Mesures en place:</div>
        <div class="detailsContainer" *ngFor="let measure of measuresFeature.measures">
            <div class="measureName">{{measure.measure.mea_name}} </div>
            <div class="measureDetails">
                &bull; {{measure.measure.measureCategory.mca_name}} &bull; {{getLitteralCost(measure.ram_cost)}}
                <div *ngIf="getLitteralImpacts(measure)">&bull; {{getLitteralImpacts(measure)}}</div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</div>