@import "./src/styles.scss";

.analysisMeasuresContainer {
  display: flex;
  flex-direction: column;
  margin: 60px 60px 40px 60px;
  padding-bottom: 0;
  transition: padding-bottom 0.3s cubic-bezier(0.98, 0.01, 0.49, 0.99),
    margin-bottom 0.3s cubic-bezier(0.98, 0.01, 0.49, 0.99);

  &.isBottomBarDisplayed {
    margin-bottom: 64px;
    padding-bottom: 40px;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .title {
      font-family: $Graphik-Light;
      font-size: 52px;
      white-space: pre;
    }
  }

  .topContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .smallContainer {
      border: 1px solid $kyrGrey;
      border-radius: 4px;
      background-color: white;
      padding: 20px 20px 10px 20px;
      width: 100%;
      .blockTitle {
        text-transform: uppercase;
        font-size: 12px;
        color: $kyrMediumGrey;
        margin-bottom: 20px;
        font-weight: bold;
      }
    }
  }

  .measuresContainer {
    display: flex;
    flex-direction: column;

    .measureList {
      margin-top: 12px;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .btnResidualRisks {
    align-self: flex-end;
    margin-top: 12px;
  }
}

.bottomBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .rightBlock {
    display: flex;
    align-items: center;

    .deleteButton {
      margin-right: 12px;
    }
  }

  .text {
    font-size: 16px;
    font-weight: 600;
    margin-left: 24px;
    font-family: $Graphik-Light;
  }
}

#pdfContainer {
  position: absolute;
  width: 1190px;
  top: -1000%;
  .title {
    font-family: $Graphik-Light, "Helvetica";
    font-size: 52px;
    margin-bottom: 40px;
    white-space: pre;
  }
  .measureContainerPdf {
    .titleContainer {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 20px;
      .titleMeasure {
        font-size: 24px;
        color: $kyrBlack;
        margin-right: 10px;
        font-weight: bold;
      }
      .tagMeasure {
        font-size: 14px;
        color: $kyrDarkGrey;
      }
    }
    .subTitle {
      font-size: 16px;
      color: $kyrDarkGrey;
      margin-bottom: 40px;
    }
    .detailsContainer {
      font-size: 16px;
      display: flex;
      margin-bottom: 20px;
      .measureName {
        color: $kyrBlack;
        margin-bottom: 20px;
        margin-right: 5px;
        width: 30%;
        min-width: 30%;
        line-height: 27px;
      }
    
      .measureDetails {
        color: $kyrDarkGrey;
        display: flex;
        flex-wrap: wrap;
        line-height: 27px;
        .detailsFirstPart {
          margin-right: 5px;
        }
      }
    }
  }
  .line {
    width: 363px;
    height: 1px;
    background-color: #e0e5e9;
  }
}
