@import "./src/styles.scss";

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
    align-items: center;
    .title {
        max-width: 435px;
        font-family: $Graphik-Regular;
        font-size: 24px;
        color: $kyrBlack;
        text-align: center;
        font-weight: bold;
        margin: 32px auto;
    }
    
    .subtitle {
        width: 480px;
        text-align: center;
        margin: auto;
        margin-bottom: 32px;
    }

    .buttonsContainer {
        display: flex;
        margin-bottom: 37px;
        justify-content: center;
        padding: 0 150px;
        .button {
            &:first-child {
                margin-right: 20px;
            }
        }
    }

    .choiceContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        color: $kyrMediumGrey;
        .radioButton {
            cursor: pointer;
            margin-right: 12px;
        }  
        
        .checkText {
            font-size: 14px;
        }
    }
}
