<app-modal id="modalOnboardingFeature" [displayed]="isDisplayed" (closeEvent)="close()">
  <div class="modalContainer">
    <lottie-animation-view class="onboardingFeature" [width]="56" [height]="56" [options]="lottieOnboardingFeature"
      (animCreated)="handleAnimation($event)" id="lottieOnboardingFeature">
    </lottie-animation-view>
    <div class="title">
      Connaissez-vous les fonctionnalités de {{getAnalysisName()}} ?
    </div>
    <div class="subtitle">
      Si vous ne les connaissez pas encore, pas de problème, vous pourrez les ajouter ultérieurement.
    </div>
    <div class="buttonsContainer">
      <app-button class="button" [text]="'Oui, les ajouter'" [inverted]="true" (click)="close()">
      </app-button>
      <app-button class="button" [text]="'Non, voir ma synthèse'" (click)="backToDicp()">
      </app-button>
    </div>
    <div class="choiceContainer">
      <app-check class="radioButton" [radioButton]="true" [checked]="isChecked" (click)="check()"></app-check>
      <div class="checkText">
        Ne pas montrer cet écran la prochaine fois
      </div>
    </div>
  </div>
</app-modal>