<div *ngIf="help_text" class="helpContainer" (mouseenter)="triggerHelp()" (mouseleave)="triggerHelp()">
    <img src="/assets/img/icons/icon-action-info.svg" alt=""/>
    <app-tooltip class="app-tooltip" [help_text]="help_text" [direction]="'bottom'" [display]="displayTooltip"></app-tooltip>

  </div>