@import "./src/styles.scss";

.helpContainer {
  height: 32px;
  width: 32px;

  .app-tooltip {
    position: absolute;
    text-align: center;
    z-index: 1;
    bottom: 8px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
  }
}
