@import './src/styles.scss';

.analysisContainer {
    display: flex;
    margin-right: 360px;
    &.noMargin{
      margin-right: 0px;
    }
  #app-side-bar {
    width: 360px;
    min-width: 360px;
    background-color: #fff;
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    animation: slide 500ms cubic-bezier(0, 0.44, 0.18, 0.99);
    z-index: 5;
  }

  app-analysis-description, app-analysis-impact, app-analysis-feature, app-analysis-measure, app-analysis-residual-risk {
    width: 100%;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    visibility: hidden;
    right: -360px;
  }
  to {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
}