@import "./src/styles.scss";

$sizeSmallPoint: 12px;
$sizeBigPoint: 16px;

.slider {
  flex: 1;
  position: relative;
  &.smallVersion {
    margin-bottom: 15px;
  }
  .barContainer {
    > .bar {
      width: 100%;

      height: 20px;
      position: relative;
      display: flex;
      justify-content: space-between;
      z-index: 1;

      > .barGrey {
        height: 4px;
        background-color: #ebeef1;
        position: absolute;
        width: 100%;
        top: 8px;
        right: 0;
        z-index: 2;
        transition: width 0.3s $courbeAnimation;

        &.no-impact {
          width: 100%;
        }

        &.low-impact {
          width: 66%;
        }

        &.medium-impact {
          width: 33%;
        }

        &.high-impact {
          width: 0%;
        }
      }

      .floatingPoint {
        position: absolute;
        z-index: 3;
        left: -4px;
        top: 50%;
        transform: translateY(-50%);
        transition: left 0.3s $courbeAnimation;
        height: $sizeBigPoint;
        width: $sizeBigPoint;
        border-radius: 50%;
        $nbPoint: 3;
        @for $i from 0 through $nbPoint {
          $j: $i + 1;
          $k: ($sizeBigPoint - $sizeSmallPoint) / 2 + $i * ($sizeBigPoint - $sizeSmallPoint);
          $posX: calc(-#{$k} + #{$i} * (100% / #{$nbPoint}));
          &[data-position="#{$i}"] {
            left: $posX;
            background-color: nth($colorPoints, $j);
            box-shadow: 0px 0px 0px 2px nth($colorShadows, $j);
          }
        }
      }

      .point {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 4;

        > div {
          border-radius: 50%;
          width: $sizeSmallPoint;
          height: $sizeSmallPoint;
          background-color: #ebeef1;
          transform-origin: center;
          transition: background-color 0.3s $courbeAnimation;
        }

        &.one {
          justify-content: flex-start;
          flex-grow: 0.165;
          &.active > div {
            background-color: $kyrYellow;
          }
        }
        &.two {
          flex-grow: 0.333;
          &.active > div {
            background-color: $kyrMediumOrange;
          }
        }
        &.three {
          flex-grow: 0.333;
          &.active > div {
            background-color: $kyrOrange;
          }
        }
        &.four {
          flex-grow: 0.165;
          justify-content: flex-end;
          &.active > div {
            background-color: $kyrRed;
          }
        }
      }

      .point[hidden] {
        display: none;
      }
      .barColor {
        width: 100%;
        height: 4px;
        position: absolute;
        background: linear-gradient(to right, $kyrYellow 0%, $kyrMediumOrange 33%, $kyrOrange 66%, $kyrRed 100%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        top: 8px;
        left: 0;
        border-radius: 4px;
      }
    }
  }
  .labelLevel {
    color: $kyrDarkGrey;
    font-size: 12px;
    font-family: $Graphik-Regular, Helvetica;
  }

  &.readMode {
    .barContainer {
      display: flex;
      align-items: center;
      .bar {
        height: 8px;
        border-radius: 4px;
        overflow: hidden;
        min-width: 40px;
        margin: 5px 0 8px 0;

        .barGrey,
        .barColor {
          height: 8px;
          top: 0;
          border-radius: 0;
        }

        .barGrey {
          &.no-impact {
            width: 99%;
          }
        }
      }
      .score {
        font-size: 16px;
        font-weight: 600;
        color: $kyrBlack;
        margin-left: 30px;
        min-width: 0px;
      }
    }
  }
}
