<div class="slider" [class.readMode]="readMode" [class.smallVersion]="smallVersion" [ngStyle]="{'width.px': size}">
  <div  class="barContainer">
    <div class="bar">
      <div [hidden]="readMode" #point1 class="point one" (click)="clickBullet($event, 1)">
        <div></div>
      </div>
      <div [hidden]="readMode" #point2 class="point two" (click)="clickBullet($event, 2)">
        <div></div>
      </div>
      <div [hidden]="readMode" #point3 class="point three" (click)="clickBullet($event, 3)">
        <div></div>
      </div>
      <div [hidden]="readMode" #point4 class="point four" (click)="clickBullet($event, 4)">
        <div></div>
      </div>
      <div class="barColor"></div>
      <div #background class="barGrey"></div>
      <div [hidden]="readMode" #floatingPoint class="floatingPoint" data-position="0"></div>
    </div>
    <div *ngIf="smallVersion" class="score">{{getScore()}}</div>
  </div>
  <div *ngIf="readMode && startingValue && !smallVersion" class="labelLevel">{{getImpactDegree()}}</div>
</div>