@import "./src/styles.scss";

.buttonContainer {
    display: flex;
    align-items: center;
    color: $kyrMediumGrey;
    cursor: pointer;
    .textContainer {
        padding: 0 10px 0 0;
        text-transform: capitalize;
    }

    img {
        height: 16px;
        width: 16px;
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out;
        &.isOpened {
            transform: rotate(270deg);
        }
    }
}