<button mat-button [matMenuTriggerFor]="menu" disableRipple #t="matMenuTrigger">
    <div class="buttonContainer">
        <div class="textContainer">
            {{text}}
        </div>
        <img *ngIf="icon" [class.isOpened]="t.menuOpen" [src]="icon" alt="" />
    </div>
</button>
<mat-menu #menu="matMenu" xPosition="before">
    <ng-content></ng-content>
</mat-menu>