@import "./src/styles.scss";

.menu {
  display: flex;
  align-items: center;
  height: 77px;
  justify-content: space-between;
  padding: 0 25px;

  .dropdownName {
    position: fixed;
    right: 25px;
    top: 20px;
    height: 32px;
    z-index: 7;
  }

  img {
      outline : none;
      cursor: pointer;
      z-index: 7;
  }
}
