<div class="menu">
    <img src="/assets/logo.svg" alt="" routerLink="/" />
    <div *ngIf="user" class="dropdownName">
        <app-dropdown [text]="name" [icon]="'/assets/img/icons/Chevron-grey.svg'">
            <app-profile></app-profile>
        </app-dropdown>
    </div>
</div>
<router-outlet></router-outlet>