@import "./src/styles.scss";

.checkContainer {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 1px $kyrGrey;
  transition: border-color 0.2s ease-in-out;

  .check {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    background-color: transparent;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

    .radioButton {
      background-color: white;
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }
  }

  &.checked {
    border-color: transparent;
    .check {
      background-color: $kyrOrange;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
  .checkIcon {
    width: 24px;
    height: 24px;
  }
}
