<div class="checkContainer" [class.checked]="isChecked">
  <div class="check">
    <lottie-animation-view *ngIf="!hasRadioButton" [options]="lottieConfig" [width]="15" [height]="15" (animCreated)="handleAnimation($event)"></lottie-animation-view>
    <div *ngIf="hasRadioButton" class="radioButton"></div>
  </div>
</div>