<div *ngIf="analysis" class="sideBarContainer">
  <div *ngIf="analysis.ral_name" class="name">{{analysis.ral_name}}</div>
  <div class="analysisContentContainer">
    <div class="borderContainer">
      <div class="border" [ngStyle]="getBorderStyle()"></div>
    </div>
    <div class="pagesContainer">
      <div *ngFor="let chapter of chapters; let i = index;" class="pageContainer" [class.active]="isActive(i)"
        [class.modified]="chapter && chapter.isModify && isActive(i)">
        <div *ngIf="chapter" class="iconsContainer"  [class.active]="isActive(i)">
          <div class="icon big">
            <img *ngIf="chapter.iconPath" [src]="getIconPath(i)" alt="" />
          </div>
          <div class="stepsContainer">
            <div *ngFor="let step of chapter.steps; let j = index" class="icon" [class.active]="step.isActive"
              (click)="scrollTo(j, i, step)">
            </div>
          </div>
        </div>
        <div *ngIf="chapter" class="contentContainer">
          <div class="pageTitle title"  [class.active]="isActive(i)" (click)="goToResume(i)">
            {{chapter.title}}
            <div *ngIf="displayProgression[i]" class="completionContainer">
              <app-gauge [percent]="getRoundPercent(i)" [radius]='10' [strokeThickeness]='1.5'></app-gauge>
            </div>
          </div>
          <div class="stepsContainer">
            <div *ngFor="let step of chapter.steps; let j = index" class="stepTitle title"
              [class.active]="step.isActive" (click)="scrollTo(j, i, step)">
              {{step.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="analysisUsersContainer">
    <div class="analysisContributorsContainer">
      <app-round-button *ngFor="let contributor of getNthLastEl(users, 3); let i = index" class="contributorsTiles"
        [tooltipText]="contributor.email" [style.left]="(getNthLastEl(users, 3).length - i - 1) * -8 + 'px'" [borderColor]="'#ffffff'"
        [text]="getContributorName(contributor)" [width]="'40px'" [height]="'40px'">
      </app-round-button>
    </div>
    <app-add-button *ngIf="displayAddUser" class="addContributorTile" [width]="46" [height]="46" (click)="openDialog()"></app-add-button>
  </div>
</div>