@import "./src/styles.scss";

.sideBarContainer {
  color: $kyrMediumGrey;
  position: relative;
  height: 100%;
  .name {
    font-size: 24px;
    color: $kyrBlack;
    margin-bottom: 25px;
    padding: 60px 20px 20px 20px;
    word-wrap: break-word;
  }

  .analysisContentContainer {
    display: flex;
    padding: 20px 0;
    .borderContainer {
      min-width: 4px;
      height: 100%;
      position: relative;
      animation: slide 500ms cubic-bezier(0.77, 0, 0.1, 1);
      .border {
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: $kyrBlue;
        transition: all 0.3s ease-in-out;
      }
    }

    .pagesContainer {
      display: flex;
      flex-direction: column;
      width: 100%;

      .pageContainer {
        display: flex;
        position: relative;
        opacity: 0;
        visibility: hidden;
        right: -60px;
        animation: slide 500ms cubic-bezier(0.77, 0, 0.1, 1);
        animation-fill-mode: forwards;

        &:nth-child(2) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.4s;
        }

        &:nth-child(4) {
          animation-delay: 0.6s;
        }

        .stepsContainer {
          .stepTitle {
            font-size: 14px;
            margin-bottom: 14px;
            height: 20px;
            opacity: 0;
            visibility: hidden;
            right: -60px;
            &:nth-child(1) {
              animation-delay: 0.1s;
            }
            &:nth-child(2) {
              animation-delay: 0.2s;
            }
            &:nth-child(3) {
              animation-delay: 0.3s;
            }
            &:nth-child(4) {
              animation-delay: 0.4s;
            }
            &:nth-child(5) {
              animation-delay: 0.5s;
            }
            &:nth-child(6) {
              animation-delay: 0.6s;
            }
          }
        }
        .iconsContainer {
          &:focus {
            outline: none;
          }
          .icon {
            height: 20px;
            display: flex;
            align-items: center;
            margin-bottom: 14px;
            padding: 0 15px;
            cursor: pointer;
            position: relative;
            animation: slide 500ms cubic-bezier(0.77, 0, 0.1, 1);

            &.big {
              justify-content: center;
              height: 32px;
              margin-bottom: 10px;
            }
          }
        }
        .contentContainer {
          padding-right: 20px;
          width: 100%;
          .title {
            display: flex;
            align-items: center;
            font-weight: bold;
             &.active{
              color: $kyrBlue;
            }
            cursor: pointer;
            width: 100%;
            position: relative;
            animation: slide 500ms cubic-bezier(0.77, 0, 0.1, 1);
            animation-fill-mode: forwards;

            &.pageTitle {
              font-size: 16px;
              margin-bottom: 10px;
              height: 32px;
              display: flex;
              justify-content: space-between;

              &:focus {
                outline: none;
              }

              &.active {
                color: $kyrBlue;
              }

              .completionContainer {
                height: 20px;
                width: 20px;
                margin-right: 7px;
              }
            }
          }
        }
        .stepsContainer {
          transition: all 0.2s ease-in-out;
          position: relative;
        }

        &:not(.modified) {
          .stepsContainer {
            height: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
          }
        }

        &.active {
          &.modified {
            .stepsContainer {
              height: 100%;
              opacity: 1;
              visibility: visible;
            }
            .contentContainer {
              .stepsContainer {
                .stepTitle {
                  &.active {
                    color: $kyrBlue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .analysisUsersContainer {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    .analysisContributorsContainer {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      .contributorsTiles {
        position: relative;
      }
    }
    .addContributorTile {
      position: relative;
    }
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    visibility: hidden;
    right: -100px;
  }
  to {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
}
