@import "./src/styles.scss";

.roundButtonContainer {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: $kyrGrey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $kyrMediumGrey;
  border: 1px solid;
  user-select: none;
  cursor: default;

  .tooltip {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
