<div [style.height]="height" [style.width]="width" class="roundButtonContainer" [style.borderColor]="borderColor"
  [style.backgroundColor]="backgroundColor" (mouseenter)="triggerHelp()" (mouseleave)="triggerHelp()">
  <div class="initials">{{getRightFormatText()}}</div>
  <app-tooltip *ngIf="tooltipText" class="tooltip" [help_text]="tooltipText" [direction]="'bottom'" [display]="displayTooltip">
  </app-tooltip>
</div>