<div *ngIf="choices" class="dateQcmContainer">
  <div class="tilesContainer">
    <app-tile *ngFor="let choice of choices" [choice]="choice" [thin]='true' [hasCheck]="true"
      [placeholder]="placeholder" (selectEvent)="select(choice)" (dateEvent)="dateSelected($event)"
      class="tile">
    </app-tile>
  </div>
</div>