@import './src/styles.scss';

.dateQcmContainer {
  .tilesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .tile {
      display: block;
      height: 100%;
    }
  }
}
