<div *ngIf="question" class="toggleQcmContainer">
  <div *ngIf="isModify" class="toggleContainer">
    <app-toggle class="app-toggle" (clickEvent)="checkToggle()" [active]="getAnswers(question).toString() === 'true'">
    </app-toggle>
    <div class="toggleLabel">{{toggleLabel}}</div>
  </div>
  <div *ngIf="!isModify" class="toggleContainer Recap">
    <div class="title">{{getRecapTitle()}}</div>
    <div>{{getRecapAnswers()}}</div>
  </div>
  <div [hidden]="!question.questions || getAnswers(question).toString() !== 'false'" class="questionsContainer">
    <app-question *ngFor="let q of question.questions" [question]="q" [isModify]="isModify" [guid]="guid"
      [analysis]="analysis" [apiPath]="apiPath"></app-question>
  </div>
</div>