@import "./src/styles.scss";

.toggleQcmContainer {
    display: flex;
    flex-direction: column;
  .toggleContainer {
    display: flex;
    margin: 20px 0;
    .app-toggle {
      margin-right: 12px;
    }
    .toggleLabel {
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    &.Recap {
      flex-direction: column;

      .title {
        margin-bottom: 12px;
        color: $kyrBlack;
        font-weight: bold;
      }
    }
  }
}
