@import "./src/styles.scss";

#modalTitle {
  width: 720px;
  font-family: $Graphik-Regular;
  font-size: 24px;
  color: $kyrBlack;
  text-align: center;
  font-weight: 600;
  margin-bottom: 24px;

  #app-input {
    display: block;
    width: 500px;
    margin: 28px 0 0 72px;
  }

  #app-tag-list {
    width: 576px;
    display: block;
    margin: auto;
    text-align: left;
    margin-top: 12px;
  }
}

.entriesScrollContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  #subTitle {
    color: $kyrMediumGrey;
    font-family: $Graphik-Regular;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 70px;
    margin-top: 28px;
  }
  
  .entryListContainer {
    padding: 0 41px 0 70px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media screen and (max-height: 710px) {
      height: 216px;
    }
    @media screen and (max-height: 635px) {
      height: 144px;
    }
  
    height: 289px;
    margin-bottom: 28px;
    overflow: auto;
  
    .virtualScrollContainer {
      height: 100%;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .entryLine {
        height: 72px;
        margin-right: 25px;
        .alignButton {
          display: flex;
          justify-content: space-between;
          height: 100%;
          align-items: center;
          .alignmentContainer {
            display: flex;
            align-items: center;
            height: 100%;
            #roundButton {
              margin-right: 20px;
            }
            .titlesContainer {
              display: flex;
              flex-direction: column;
              height: 100%;
              justify-content: center;
  
              .titles {
                display: flex;
                .title {
                  font-family: $Graphik-Regular;
                  font-size: 16px;
                  color: $kyrBlack;
                  margin-right: 6px;
                  max-width: 520px;
                }
                .title2 {
                  font-family: $Graphik-Regular;
                  font-size: 16px;
                  color: $kyrBlack;
                }
              }
              .subStr {
                font-family: $Graphik-Regular;
                font-size: 12px;
                line-height: 1.33;
                margin-top: 2px;
                color: $kyrMediumGrey;
              }
            }
          }
          .addButton {
            width: 38px;
            height: 38px;
          }
          .greenCheck {
            margin: 3px;
            border: 1px solid $kyrGreen;
            min-height: 30px;
            min-width: 30px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            .greenCheckIcon {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
  }
}

.separator {
  height: 1px;
  width: 100%;
  background-color: $kyrGrey;
}

// Design for scrollBar, does not work, on:
// - Edge
// - IE
// - Mozilla
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f7f8;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $kyrGrey;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $kyrGrey;
}

#modalButtons {
  display: flex;
  justify-content: center;
}
