<div id="modalTitle">
  <div [innerHTML]="title"></div>
  <app-input id="app-input" [type]="'text'" [value]="searchInput" [isArea]="false" [verticalPadding]="14"
    [hasNoActiveMode]="true" [placeholder]="inputPlaceholder" [fontSize]="14" (changeEvent)="searchInput = $event"
    [icon]="'/assets/img/icons/user.svg'">
  </app-input>
  <app-tag-list [hidden]="!entryTagToAdd || entryTagToAdd.length === 0" id="app-tag-list" [listTag]="entryTagToAdd"
    (removeTagEvent)="deleteTag($event)"></app-tag-list>
</div>
<div class="separator"></div>
<div *ngIf="entryList && entryList.length > 0" class="entriesScrollContainer">
  <div id="subTitle">{{subTitle}}</div>
  <div class="entryListContainer">

    <cdk-virtual-scroll-viewport itemSize="72" class="virtualScrollContainer">
      <div *ngIf="canCreateEntry && canCreateNewEntry()">
        <div class="entryLine">
          <div class="alignButton">
            <div class="alignmentContainer">
              <div class="titlesContainer">
                <div class="titles">
                  <div class="title" [innerHTML]="getNewEntry(searchInput)"></div>
                </div>
              </div>
            </div>
            <app-button  [disabled]="isEntryInList() || isInputTooLong()" [text]="'Créer'" [inverted]="true" [isBlue]="true" [small]="true" (clickEvent)="addNewEntry()" >
          </app-button>
          </div>
        </div>
        <div class="separator"></div>
      </div>
      <div *cdkVirtualFor="let entry of getDisplayedEntries(); let i = index;" class="entryLine">
        <div class="alignButton">
          <div class="alignmentContainer">
            <app-round-button *ngIf="roundButtonDisplayed" [width]="'40px'" [height]="'40px'" id="roundButton"
              [text]="formatEntries(entry.title, entry.title2)" [borderColor]="'#fff'"></app-round-button>
            <div class="titlesContainer">
              <div class="titles">
                <div *ngIf="entry.str1" class="title" [innerHTML]="getHighlight(entry.str1)"></div>
                <div *ngIf="entry.str2" class="title2" [innerHTML]="getHighlight(entry.str2)"></div>
              </div>
              <div class="subStr" [innerHTML]="getHighlight(entry.subStr)"></div>
            </div>
          </div>
          <app-add-button *ngIf="!isAdded(entry)" class="addButton" [width]="38" [height]="38" [isSmall]="true"
            (click)="addSelectedEntry(entry)"></app-add-button>
          <div *ngIf="isAdded(entry)" class="greenCheck">
            <img class="greenCheckIcon" src="/assets/img/icons/Check-green.svg" alt="" />
          </div>
        </div>
        <div class="separator"></div>

      </div>
    </cdk-virtual-scroll-viewport>

  </div>
</div>
<div id="modalButtons">
  <app-button class="modalButton" (clickEvent)="validateClickEvent()" [text]="'Valider'" [inverted]="true"
    [disabled]="canValidate()">
  </app-button>
</div>