@import "./src/styles.scss";

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px 15px;
  align-items: center;
  .title {
    max-width: 435px;
    font-family: $Graphik-Regular;
    font-size: 32px;
    color: $kyrBlack;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 24px;
  }

  .subtitle {
    text-align: center;
    margin: auto;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 25px;
    max-width: 100%;
  }

  .onboardingRisks {
    margin-bottom: 24px;
  }

  .buttonsContainer {
    display: flex;
    margin-bottom: 29px;
    justify-content: center;
    padding: 0 127px;
  }

  .choiceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $kyrMediumGrey;
    .radioButton {
      cursor: pointer;
      margin-right: 12px;
    }

    .checkText {
      font-size: 14px;
    }
  }
}
