<app-modal id="modalOnboardingRisks" [displayed]="isDisplayed" (closeEvent)="close()">
  <div class="modalContainer">
    <div class="title">
      Ma prise de risques
    </div>
    <div *ngIf="isOwner" class="subtitle">
      Cet espace est celui où vous pouvez vous prononcer sur les risques résiduels.
      Afin de prendre un décision éclairée, appuyez-vous sur les différents avis
      laissés par les experts.
    </div>
    <div *ngIf="!isOwner" class="subtitle">
      Cette section permet de décrire les risques résiduels.

      D’autre part, vous pouvez laisser un avis complémentaire afin de mieux orienter le métier dans sa prise de décision.
    </div>
    <lottie-animation-view class="onboardingRisks" [width]="360" [height]="195" [options]="lottieOnboardingRisks"
      (animCreated)="handleAnimation($event)" id="lottieOnboardingRisks">
    </lottie-animation-view>
    <div class="buttonsContainer">
      <app-button class="button" [text]="'J\'ai compris'" [inverted]="true" (click)="close()"
        [icon]="'/assets/img/icons/Chevron.svg'" [after]="true">
      </app-button>
    </div>
    <div class="choiceContainer">
      <app-check class="radioButton" [radioButton]="true" [checked]="isChecked" (click)="check()"></app-check>
      <div class="checkText">
        Ne pas montrer cet écran la prochaine fois
      </div>
    </div>
  </div>
</app-modal>