@import "./src/styles.scss";

.profileContainer {
    max-width: 360px;
    cursor: default;
    justify-content: space-between;
    padding: 12px 20px;
    .profileHeader {
        display: flex;
        align-items: center;
        #picture {
            margin-right: 12px;
        }
        .infoContainer {
            width: calc(100% - 64px);
            .name {
                text-transform: capitalize;
                font-weight: bold;
                font-size: 16px;
            }
            .email {
                margin: 4px auto;
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 12px;
                color: $kyrMediumGrey;
            }
        }
    }
    .lineSeparator {
        height: 1px;
        background-color: $kyrGrey;
        width: 100%;
        margin: 16px auto;
    }
    .item {
        padding: 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: $Graphik-Regular;
        color: $kyrMediumGrey;
        height: 20px;
        cursor: pointer;
        transform: translateX(0);
        transition: transform 0.2s ease-in-out;
        .image {
            margin: 0 4px 0 0;
        }
        span {
            padding-top: 2px;
        }
        &:hover {
            transform: translateX(2px);
        }
    }
}