<div class="profileContainer">
    <div class="profileHeader" (click)="$event.stopPropagation()">
        <app-round-button id="picture" [width]="'40px'" [height]="'40px'" [text]="userName" [borderColor]="'#ffffff'" ></app-round-button>

        <div class="infoContainer">
            <div class="name">
                {{userName}}
            </div>
            <div class="email">
                {{userEmail}}
            </div>
        </div>
    </div>
    <div class="lineSeparator"></div>
    <div class="item" (mouseenter)="play()" (click)="click()">
        <lottie-animation-view class="image" [width]="24" [height]="24" [options]="lottieConfig" (animCreated)="handleAnimation($event)" id="lottieCreateAnimation"></lottie-animation-view>
        <span>Déconnexion</span>
    </div>
</div>
