@import "./src/styles.scss";

.container {
  display: flex;
  padding: 12px 0;
  position: relative;

  &.displayBlock {
    display: block;
  }

  &:not(.isLast) {
    border-bottom: 1px solid $kyrGrey;
  }

  &.isModify {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    border-bottom: none;
    flex-direction: column;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &.isActive {
        opacity: 1;
        box-shadow: 0 4px 16px 0 rgba(2, 39, 72, 0.12);

        &.isDisplaySquare {
          box-shadow: none;
        }
      }

    &.isDisplaySquare {
      border: 1px solid $kyrGrey;
      border-radius: 4px;
    }
  }
}
