<div class="container" #container [class.isLast]="isLast" [class.isActive]="isActive" [class.displayBlock]="displayBlock"
    [class.isModify]="isModify" [class.isDisplaySquare]="isDisplaySquare">
    <ng-content></ng-content>
</div>
