<app-modal id="modalOnboardingMeasures" [displayed]="isDisplayed" (closeEvent)="close(false)">
  <div class="modalContainer">
    <div class="title">
      Comment me protège-t-on ?
    </div>
    <div *ngIf="isOwner" class="subtitle">
      Vous vous êtes exprimés sur vos enjeux métier, et cela conclu cette 1ère partie.
      En réponse, les experts vont proposer des mesures. Vous pourrez enfin
      vous positionner sur les risques résiduels..
    </div>
    <div *ngIf="!isOwner" class="subtitle">
      Le propriétaire de l’analyse de risques s’est exprimé sur ses enjeux business.
      C’est maintenant à vous de proposer des mesures adéquates
      afin de répondre au mieux à la protection de ses enjeux.
    </div>
    <lottie-animation-view class="onboardingMeasures" [width]="360" [height]="195" [options]="lottieOnboardingMeasures"
      (animCreated)="handleAnimation($event)" id="lottieOnboardingMeasures">
    </lottie-animation-view>
    <div class="buttonsContainer">
      <app-button class="button" [text]="'J\'ai compris'" [inverted]="true" (click)="close(false)">
      </app-button>
      <app-button *ngIf="isOwner" class="button" [text]="'Risques résiduels'" [inverted]="false" (click)="close(true)"
      [icon]="'/assets/img/icons/Chevron-white-right.svg'" [after]="true">
    </app-button>
    </div>
    <div class="choiceContainer">
      <app-check class="radioButton" [radioButton]="true" [checked]="isChecked" (click)="check()"></app-check>
      <div class="checkText">
        Ne pas montrer cet écran la prochaine fois
      </div>
    </div>
  </div>
</app-modal>