@import "./src/styles.scss";


@keyframes btnSlidefromTheBottom {
  from {
    opacity: 0;
    visibility: hidden;
    top: calc(100% - 47px);
  }
  to {
    opacity: 1;
    visibility: visible;
    top: calc(100% - 77px);
  }
}

@keyframes slidefromTheBottom {
  from {
    opacity: 0;
    visibility: hidden;
    top: 40px;
  }
  to {
    opacity: 1;
    visibility: visible;
    top: 0px;
  }
}

@keyframes titleSlidefromTheBottomAbso {
  from {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 20px;
  }
  to {
    opacity: 1;
    visibility: visible;
    margin-bottom: 60px;
  }
}

.analysisCreateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 77px);
  position: relative;
  .conentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    .title {
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      width:100%;
      left:0;
      color: $kyrBlack;
      margin-bottom: 60px;
      position: relative;
      animation: 0.5s cubic-bezier(0.03, 0.42, 0.49, 1) 0s 1 titleSlidefromTheBottomAbso;
    }
    #app-input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(45% + 40px);
      max-width: 640px;
      height: 52px;
      position: relative;
      opacity: 0;
      visibility: hidden;
      top: 40px;
      animation: 0.5s cubic-bezier(0.03, 0.42, 0.49, 1) 0.1s 1 slidefromTheBottom;
      animation-fill-mode: forwards;
    }
  }
  #app-button {
    position: absolute;
    top: calc(100% - 77px);
    opacity: 0;
    visibility: hidden;
    animation: 0.5s cubic-bezier(0.03, 0.42, 0.49, 1) 0.2s 1 btnSlidefromTheBottom;
    animation-fill-mode: forwards;
  }
}
