<div class="analysisCreateContainer">
    <div class="conentContainer">
        <div class="title">Créez votre analyse de risque</div>
        <app-input id="app-input" [type]="'text'" [value]="analysis.ral_name" [isArea]="false"
            [placeholder]="'Nom de l\'analyse...'" (enterEvent)="create()" (changeEvent)="analysis.ral_name = $event" [maxlength]="32">
        </app-input>
        <app-button id="app-button" (clickEvent)="create()" [text]="'Suivant'" [inverted]="true"
            [icon]="'/assets/img/icons/Chevron.svg'" [after]="true" [disabled]="!analysis.ral_name">
        </app-button>
    </div>
</div>