@import "./src/styles.scss";

#modalLogOut {
    #modalTitle {
      margin: 6px 151px 0 152px;
      font-family: $Graphik-Regular;
      font-size: 16px;
      line-height: 1.5;
      color: $kyrBlack;
    }
  
    #modalButtons {
      display: flex;
      margin-top: 40px;
      justify-content: center;
  
      .modalButton {
        margin: 0 6px;
      }
    }
  }