<app-modal id="modalLogOut" [displayed]="isDisplayed" (closeEvent)="close()">
    <div id="modalTitle">Êtes-vous certain de vouloir vous déconnecter de KYR ?</div>
    <div id="modalButtons">
        <app-button class="modalButton" (clickEvent)="close()" [text]="'Annuler'"></app-button>
        <app-button class="modalButton" (clickEvent)="logout()" [text]="'Me déconnecter'" [inverted]="true"></app-button>
    </div>
</app-modal>