/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$kyrRed: #f30238;
$kyrLightRed: #fdd6df;
$kyrOrange: #fa822a;
$kyrMediumOrange: #ffc921;
$kyrYellow: #ffe73e;
$kyrLightGrey: #f5f7f8;
$kyrGrey: #e0e5e9;
$kyrMediumGrey: #aeb9c4;
$kyrDarkGrey: #677d91;
$kyrBackgroundGrey: #f4f5f6;
$kyrSemiLightGrey: #ebeef1;
$kyrBlack: #022748;
$kyrBlue: #00a7d6;
$kyrSeaBlue: #0194be;
$kyrLightGreen: #e6f8d6;
$kyrGreen: #63d600;
$kyrDarkGreen: #58be00;

$colorPoints: (#{$kyrYellow}, #{$kyrMediumOrange}, #{$kyrOrange}, #{$kyrRed});
$colorShadows: (rgba(255, 231, 62, 0.24), rgba(255, 201, 33, 0.24), rgba(250, 130, 42, 0.24), rgba(243, 2, 56, 0.24));

$courbeAnimation: cubic-bezier(0.86, 0.02, 0.3, 1.01);

@font-face {
  font-family: "Graphik-Bold";
  src: url("/assets/font/Graphik-Bold.eot"), url("/assets/font/Graphik-Bold.otf");
}
@font-face {
  font-family: "Graphik-Light";
  src: url("/assets/font/Graphik-Light.eot"), url("/assets/font/Graphik-Light.otf");
}
@font-face {
  font-family: "Graphik-Regular";
  src: url("/assets/font/Graphik-Regular.eot"), url("/assets/font/Graphik-Regular.otf");
}

$Graphik-Bold: "Graphik-Bold";
$Graphik-Light: "Graphik-Light";
$Graphik-Regular: "Graphik-Regular";

body {
  font-family: $Graphik-Regular, Helvetica;
  margin: 0;
  padding: 0;
  background-color: $kyrBackgroundGrey;
}
// Material

.mat-button:hover .mat-button-focus-overlay {
  opacity: 0 !important;
}

.mat-button-wrapper {
  z-index: 2;
}

.mat-menu-panel {
  max-width: 360px !important;
  min-width: 260px !important;
}

.mat-elevation-z4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0), 0 4px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.mat-button-focus-overlay {
  background: transparent !important;
}

.cdk-overlay-backdrop-showing {
  opacity: 0 !important;
}

// Material modal
.mat-dialog-container {
  padding: 0 !important;
}

.mat-dialog-content {
  max-height: none !important;
}

.cdk-virtual-scroll-content-wrapper {
  min-height: 100% !important;
}

.cdk-global-scrollblock {
  overflow: hidden !important;
}

.mat-calendar-body-selected {
  background-color: $kyrOrange
}

.mat-calendar-body-label {
  display: none;
}

.mat-datepicker-toggle-active {
  color: $kyrOrange
}