<div [hidden]="hasError">
  <div class="featureContainer">
    <div class="title">
      {{analysisFeature.title}}
      <app-add-button class="addButton" [buttonWithText]="true" [disabled]="addButtonDisable"
        (clickEvent)="addFeature()">
      </app-add-button>
    </div>
    <div *ngIf="featureSteps.length < 1" class="noContentText">{{noContentText}}</div>
    <app-form *ngFor="let step of featureSteps; let i = index" [isFirst]="i===0" [id]="'form'+i" [form]="step"
      [isModify]="analysisFeature.isModify" [analysis]="analysis" [placeholder]="placeholder"
      (activeEvent)="setActive(step, $event)" (deleteEvent)="deleteFeature($event)"
      (endFocusTitleEvent)="updateTitleFeature($event, step)">
    </app-form>
    <div id="buttonAddContainer">
    </div>
  </div>
  <app-bottom-bar [isDisplayed]="true">
    <app-state-bar (clickEventLeftButton)="addFeature()" (clickEventRightButton)="goToRecap()"
      [leftButtonText]="'Ajouter une fonctionnalité'" [leftButtondisabled]="addButtonDisable"
      [rightButtonText]="'Voir la synthèse'"></app-state-bar>
  </app-bottom-bar>
</div>
<div *ngIf="hasError" [hidden]="!hasError" class="accessErrorContainer">
  <div id="padlock"><img src="/assets/img/icons/padlock.svg" alt="" /></div>
  <div>Vous n’avez pas les droits d’accès</div>
  <div id="buttonsContainer">
    <app-button class="button" routerLink="/" [text]="'Retour à l\'accueil'" [inverted]="true"></app-button>
  </div>
</div>