@import "./src/styles.scss";

.featureContainer {
  display: flex;
  flex-direction: column;
  margin: 60px 60px 64px 60px;
  padding-bottom: 40px;

  .title {
    font-family: $Graphik-Light;
    font-size: 52px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .noContentText {
    margin: 150px 0 20px;
    text-align: center;
    height: 200px;
    font-size: 16px;
    display: flex;
    color: $kyrMediumGrey;
    white-space: pre-line;
    align-items: center;
    justify-content: center;
  }
}
