@import './src/styles.scss';

.qcmContainer {
  .tilesContainer {
    display: flex;
    flex-wrap: wrap;    
    width: 100%;

    &.vertical {
      flex-direction: column;    
    }

    .tile {
      display: block;
      height: 100%;
    }
  }

  ul {
    padding-left: 15px;
  }
}
