<div *ngIf="!placeholder && choices && !readMode" class="qcmContainer">
  <div class="tilesContainer" [class.vertical]="isVertical()">
    <app-tile *ngFor="let choice of choices" [radioButton]="isSimpleQcm(type)" [choice]="choice" [thin]='isThin()' [fullBackground]="!hasCheck() && isThin()"
      [hasCheck]="hasCheck()" [placeholder]="placeholder" (selectEvent)="select($event, choice)" class="tile">
    </app-tile>
  </div>
</div>
<div *ngIf="placeholder && !readMode && nbPlaceholders" class="qcmContainer">
  <div class="tilesContainer" [class.vertical]="isVertical()">
    <app-tile *ngFor="let in of counter(nbPlaceholders) ;let i = index" [thin]='isThin()' [placeholder]="placeholder"
      class="tile"></app-tile>
  </div>
</div>
<div *ngIf="choices && readMode" class="qcmContainer">
  <ul>
    <li *ngFor="let answer of getAnswers()">{{GetChoiceName(answer)}}</li>
  </ul>
</div>