<app-modal id="modalAddUser" [displayed]="isDisplayed" [isFull]="true" (closeEvent)="close(true)">
  <div id="modalTitle">Inviter des personnes à votre analyse
    <app-input id="app-input" [type]="'text'" [value]="searchInput" [isArea]="false" [verticalPadding]="14"
      [hasNoActiveMode]="true" [placeholder]="getPlaceholder()" [fontSize]="14" (changeEvent)="searchInput = $event"
      [icon]="'/assets/img/icons/user.svg'">
    </app-input>
    <app-tag-list [hidden]="!usersTagToAdd || usersTagToAdd.length === 0" id="app-tag-list" [listTag]="usersTagToAdd"
      (removeTagEvent)="deleteUserTag($event)"></app-tag-list>
  </div>
  <div class="separator"></div>
  <div *ngIf="users && users.length > 0 && roles && roles.length > 0" class="usersScrollContainer">
    <div id="usersTitle">suggestions</div>
    <div class="usersContainer">
      <cdk-virtual-scroll-viewport itemSize="72" class="virtualScrollContainer" (scrolledIndexChange)="closeAll()">
        <div *cdkVirtualFor="let user of getDisplayedUsers(); let i = index;" class="userLine">
          <div class="alignButton">
            <div class="alignmentContainer">
              <app-round-button [width]="'40px'" [height]="'40px'" id="userRoundButton"
                [text]="formatName(user.firstName, user.lastName)" [borderColor]="'#fff'"></app-round-button>
              <div class="userInfoContainer">
                <div class="names">
                  <div *ngIf="user.firstName" class="firstName" [innerHTML]="getHighlight(user.firstName)"></div>
                  <div *ngIf="user.lastName" class="lastName" [innerHTML]="getHighlight(user.lastName)"></div>
                </div>
                <div class="email" [innerHTML]="getHighlight(user.email)"></div>
              </div>
            </div>
            <div #buttonWrapper class="buttonWrapContainer">
              <div #button class="buttonContainer" [class.hasRole]="user.role" [class.specialRole]="isSpecialRole(user)"
              [class.admin]="user.role && user.role.rol_code.toLowerCase() === 'ral_admin'"
              [class.writer]="user.role && user.role.rol_code.toLowerCase() === 'write'"
                (click)="open(button, user)">
                <div *ngIf="isSpecialRole(user)" class="specialRoleContainer">
                  {{user.role.rol_label}}
                </div>
                <div *ngIf="!isSpecialRole(user)" class="roleContainer">
                  <span *ngFor="let role of getFilteredRoles(); let j = index; " class="role"
                    [class.selected]="user.role && role.rol_label === user.role.rol_label" (click)="addUser(user, role)"
                    (mouseenter)="buttonHoverIndex = i; openTooltip(i, role, j, button, buttonWrapper);"
                    (mouseleave)="closeTooltip()">
                    <span>{{role.rol_label}}</span>
                  </span>
                </div>
                <div *ngIf="!isSpecialRole(user)" class="crossContainer">
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>
              </div>
              <app-tooltip *ngIf="!isSpecialRole(user)" class="tooltip" [class.top]="this.tooltipIsTop(i)" [help_text]="tootltip.text"
                [direction]="getTooltipDirection(i)" [display]="tooltipIsDisplayed(i)" [width]="105"></app-tooltip>
            </div>
          </div>
          <div class="separator"></div>
        </div>
      </cdk-virtual-scroll-viewport>

    </div>
  </div>
  <div id="modalButtons">
    <app-button class="modalButton" (clickEvent)="addUsers()" [text]="'Valider'" [inverted]="true">
    </app-button>
  </div>
</app-modal>
