@import "./src/styles.scss";
#modalAddUser {
  #modalButtons {
    display: flex;
    justify-content: center;
  }

  #modalTitle {
    width: 720px;
    font-family: $Graphik-Regular;
    font-size: 24px;
    color: $kyrBlack;
    text-align: center;
    font-weight: 600;
    margin-bottom: 24px;

    #app-input {
      display: block;
      width: 500px;
      margin: 28px 0 0 72px;
    }

    #app-tag-list {
      width: 576px;
      display: block;
      margin: auto;
      text-align: left;
      margin-top: 12px;
    }
  }
  
  .separator {
    height: 1px;
    width: 100%;
    background-color: $kyrGrey;
  }
  
  .usersScrollContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    #usersTitle {
      color: $kyrMediumGrey;
      font-family: $Graphik-Regular;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 70px;
      margin-top: 28px;
    }
    .usersContainer {
      padding: 0 41px 0 70px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      @media screen and (max-height: 710px) {
        height: 216px;
      }
      @media screen and (max-height: 635px) {
        height: 144px;
      }

      height: 289px;
      margin-bottom: 28px;
      overflow: auto;

      .virtualScrollContainer {
        height: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .userLine {
          height: 72px;
          margin-right: 25px;

          .alignButton {
            display: flex;
            justify-content: space-between;
            height: 71px;
            align-items: center;

            .alignmentContainer {
              display: flex;
              align-items: center;
              height: 100%;
              #userRoundButton {
                margin-right: 20px;
              }
              .userInfoContainer {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;

                .names {
                  display: flex;
                  .firstName {
                    font-family: $Graphik-Regular;
                    font-size: 16px;
                    color: $kyrBlack;
                    margin-right: 6px;
                  }
                  .lastName {
                    font-family: $Graphik-Regular;
                    font-size: 16px;
                    color: $kyrBlack;
                  }
                }
                .email {
                  font-family: $Graphik-Regular;
                  font-size: 12px;
                  line-height: 1.33;
                  margin-top: 2px;
                  color: $kyrMediumGrey;
                }
              }
            }
            .buttonWrapContainer {
              position: relative;
              .buttonContainer {
                display: flex;
                height: 32px;
                width: 32px;
                position: relative;
                border: 1px solid $kyrBlue;
                border-radius: 16px;
                cursor: pointer;
                transition: width 0.3s cubic-bezier(0.98, 0.01, 0.49, 0.99);
                overflow: hidden;

                .selectedRole {
                  font-size: 12px;
                  font-weight: bold;
                  color: $kyrGreen;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding-left: 17px;
                }

                .crossContainer {
                  height: 32px;
                  min-width: 32px;
                  position: relative;
                  background-color: white;
                  border-radius: 50%;
                  .bar {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    height: 12px;
                    width: 2px;
                    background-color: $kyrBlue;
                    transform: rotate(0deg);
                    transition: transform 0.3s cubic-bezier(0, 0.52, 0.39, 0.99) 0.1s,
                      background-color 0.3s cubic-bezier(0, 0.52, 0.39, 0.99);
                    &:first-child {
                      transform: rotate(90deg);
                    }
                  }
                }

                .roleContainer {
                  display: flex;
                  position: relative;
                  width: calc(100% - 32px);

                  .role {
                    height: 100%;
                    opacity: 0;
                    position: relative;
                    visibility: hidden;
                    font-size: 12px;
                    margin-left: 8px;
                    font-weight: bold;
                    color: $kyrMediumGrey;
                    transition: opacity 0.3s cubic-bezier(0, 0.52, 0.39, 0.99) 0.05s,
                      visibility 0.3s cubic-bezier(0, 0.52, 0.39, 0.99) 0.05s,
                      top 0.3s cubic-bezier(0, 0.52, 0.39, 0.99) 0.2s, color 0.2s cubic-bezier(0, 0.52, 0.39, 0.99);

                    span {
                      position: relative;
                      display: block;
                      top: 50%;
                      left: 0;
                      transform: translateY(-50%);
                    }

                    &:nth-last-child(1) {
                      top: 20px;
                    }
                    &:nth-last-child(2) {
                      top: 40px;
                    }
                    &:nth-last-child(3) {
                      top: 60px;
                    }
                    &:nth-last-child(4) {
                      top: 80px;
                    }

                    &.selected {
                      top: 0;
                      opacity: 1;
                      visibility: visible;
                      color: $kyrGreen;
                    }
                  }
                }

                &.hasRole {
                  border-color: $kyrGreen;
                  transition: width 0.3s cubic-bezier(0, 0.52, 0.39, 0.99),
                    border-color 0.3s cubic-bezier(0.98, 0.01, 0.49, 0.99);

                  &:not(.opened) {
                    .crossContainer {
                      .bar {
                        background-color: $kyrGreen;
                        &:first-child {
                          height: 15px;
                          top: 8px;
                          right: 15px;
                          transform: rotate(225deg);
                        }
                        &:last-child {
                          right: 22px;
                          height: 6px;
                          top: 14px;
                          transform: rotate(150deg);
                        }
                      }
                    }
                  }
                }

                &.specialRole {
                  border-color: $kyrMediumGrey;
                  width: auto;
                  cursor: initial;

                  .specialRoleContainer {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 12px;
                    font-weight: bold;
                    color: $kyrMediumGrey;
                    padding: 0 17px;
                  }

                  .crossContainer {
                    opacity: 0;
                    visibility: hidden;
                    min-width: 17px;
                  }
                }

                &.admin {
                  width: 89px;

                  .roleContainer {
                    left: -72px;
                  }
                }

                &.writer {
                  width: 124px;

                  .roleContainer {
                    left: 8px;
                  }
                }

                &.opened {
                  width: 170px;
                  border-color: $kyrBlue;
                  .roleContainer {
                    left: 8px;
                  }
                  .crossContainer {
                    .bar {
                      transform: rotate(135deg);
                      &:first-child {
                        transform: rotate(225deg);
                      }
                    }
                  }
                  .roleContainer {
                    .role {
                      opacity: 1;
                      visibility: visible;
                      top: 0;

                      &.selected {
                        color: $kyrBlack;
                      }

                      &:not(.selected) {
                        &:hover {
                          color: $kyrDarkGrey;
                        }
                      }
                    }
                  }

                  &:not(.hasRole) {
                    .crossContainer {
                      animation: GrowUpCross 200ms cubic-bezier(0.7, 0.01, 1, 0.46);
                      animation-fill-mode: both;
                    }
                  }
                }
              }
              .tooltip {
                position: relative;
                left: 50%;

                &.top {
                  top: -34px;
                }
              }
            }
          }
        }
      }
    }
  }

  // Design for scrollBar, does not work, on:
  // - Edge
  // - IE
  // - Mozilla
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #f5f7f8;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $kyrGrey;
    border-radius: 6px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $kyrGrey;
  }
}

@keyframes GrowUpCross {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
