@import "./src/styles.scss";

.inputTitleContainer {
  .input {
    color: $kyrBlack;
    font-size: 32px;
    font-family: $Graphik-Regular;
    outline: none;
    border: none;
    border-bottom: 1px dashed;
    margin-bottom: 7px;
    width: 100%;

    &::placeholder {
      font-size: 26px;
      color: $kyrDarkGrey;
    }
  }

  .errorText {
    font-size: 10px;
    font-family: $Graphik-Regular;
    color: $kyrRed;
  }
}
