<div class="inputTitleContainer">
  <input type="text" class="input" #inputTitle [placeholder]="placeHolder" (blur)="endFocus($event.target.value)"
    [(ngModel)]="value" [maxlength]="maxLength">
  <div *ngIf="displayError" class="errorText">{{errorText}}</div>
</div>